<%= form_for([current_group, @membership], :html => {:class => "form-horizontal"}) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :member_id, :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :member_id, @users, :id, :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :level, :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :level, Membership::ACCESS_LEVELS, :to_s, :to_s %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => "btn" %>
    </div>
  </div>
<% end %>
