= form_for([current_group, @membership], :html => {:class => "form-horizontal"}) do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2
        = pluralize(@membership.errors.count, "error")
        prohibited this membership from being saved:
      %ul
        - @membership.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :member_id, :class => "control-label"
    .controls
      = f.collection_select :member_id, @users, :id, :email
  .form-group
    = f.label :level, :class => "control-label"
    .controls
      = f.collection_select :level, Membership::ROLES, :to_s, :to_s
  .form-group
    .controls
      = f.submit :class => "btn"
