= form_for([current_group, @membership], :html => {:class => "form-horizontal"}) do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2
        = pluralize(@membership.errors.count, "error")
        prohibited this membership from being saved:
      %ul
        - @membership.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .col-sm-6
      = f.label :member_id, :class => "control-label"
      .controls
        = f.collection_select :member_id, @users, :id, :email, {}, :class =>'form-control'
    //- Show this only if role is different than "Member"
    #resources-search.col-sm-6{:style => 'display: none;'}
      %label.control-label Choosing a language
      %input#resources-search-field.form-control{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}
  .form-group{:style => "min-height: 80px;"}
    .col-sm-6
      = f.label :role, :class => "control-label"
      .controls
        //- Simplify the interface: levels and roles in a single field
        //- TODO: Remember to wrap and capitalize roles
        = f.collection_select :role, Membership::ACCESS_LEVELS | Membership::ROLES, :to_s, :to_s, {}, :class =>'form-control'
    #resources-list.col-sm-6{:style => 'display: none;'}
      = f.hidden_field 'resources', :value => ''
      %label.control-label
        Selected Resources (
        %a#remove-resources{:href => "#"} Clean
        )
      .controls
        %ul#selected-resources
          -if @lings.present?
            - @lings.each do |ling|
              %li{ :data => {:id => ling.id} }
                %a.remove-resource{:href => '#'}
                  %span.glyphicon.glyphicon-remove.shift-down
                #{ling.name}
  .form-group
    .col-sm-6
      .controls
        = link_to group_memberships_path(current_group), :class => "btn btn-default" do
          %span.glyphicon.glyphicon-arrow-left
          Back
        = f.submit :class => "btn btn-success"