<%= form_for([current_group, @membership]) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.collection_select :member_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= f.label :level, 'Group access level:' %><br />
    <%= f.collection_select :level, Membership::ACCESS_LEVELS, :to_s, :to_s %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
