#pagination_top.apple_pagination
  / render page links in the view:
  = alphabetical_paginate @params
%table.show-table.table.table-bordered.table-striped.table-hover
  %tr
    %th.col-sm-8 Member
    %th Level
    - if can_see_header? [:manage], @memberships
      %th.col-sm-2 Actions
  - @memberships.each do |membership|
    %tr
      %td= link_to membership.member.name, [current_group, membership]
      %td= membership.level
      - if can_see? :manage, membership
        %td{:id => table_actions_id(membership.member.name)}
          = link_to edit_group_membership_path(current_group, membership), :class => 'btn btn-default', :rel => "tooltip", :title => "Edit", :data => {:toggle => "tooltip", :animation => "true"} do
            = icon 'edit'
          = link_to [current_group, membership], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :rel => "tooltip", :title => "Delete", :data => {:toggle => "tooltip", :animation => "true"} do
            = icon 'trash-o'
%br/
#pagination_bottom.apple_pagination
  / render page links in the view:
  = alphabetical_paginate @params
