<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate @memberships %>
</div>
<table>
  <tr>
    <th>Member</th>
    <th>Level</th>
    <th></th>
    <th></th>
  </tr>

<% @memberships.each do |membership| %>
  <tr>
    <td><%= membership.member.name %></td>
    <td><%= membership.level %></td>
    <td><% if can? :edit, membership %>
      <%= link_to 'Edit', edit_group_membership_path(current_group, membership) %>
    <% end %></td>
  <td>
    <% if can? :destroy, membership %>
      <%= link_to 'Destroy', [current_group, membership], :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </td>
  </tr>
<% end %>
</table>

<br />
<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate @memberships %>
</div>