- page_heading "Membership"
%h1
  = @membership.member.name
  %small= describe_role
  -if @membership.creator
    %span.small.pull-right
      Set by
      = @membership.creator.name
.row
  .col-md-6
    %table.table.table-hover
      %tr
        %td
          %b Description:
        -if @membership.is_expert?
          %td #{describe_role} in #{resources_list.size} #{current_group.ling0_name.pluralize}
        -else
          %td
            = describe_role
      -if @membership.is_expert?
        %tr
          %td
            %b &nbsp;
          %td= resources_names
  .col-md-6
    -if @activities
      %table.table.table-hover.table-bordered.table-striped.fixed-height-table
        %tr
          %th
            %b Has changed recently
          %th
            %b When
        - @activities.each do |activity|
          %tr
            %td
              = link_to activity.name, [current_group, @activity]
            %td= (activity.updated_at || activity.created_at).to_formatted_s(:long)
%br/
= link_to group_memberships_path(current_group), :class => "btn btn-default" do
  %i.glyphicon.glyphicon-arrow-left
  Back
- if current_user.group_admin_of? current_group 
  = link_to 'Edit', edit_group_membership_path(current_group, @membership), :class => 'btn btn-primary'
