- page_heading "Membership"
%h1
  Showing #{@membership.member.name}
%table.show-table.description-table.table.table-bordered.table-hover.table-striped
  %p
  %tr
    %td
      %b Member:
    %td
      = @membership.member.name
  %tr
    %td
      %b Created by:
    %td
      = @membership.creator ? @membership.creator.name : "Unknown user"
  %tr
    %td
      %b Role:
    %td
      = describe_role
  -if @membership.is_expert?
    %tr
      %td
        %b &nbsp;
      %td= resources_list
%br/
= link_to group_memberships_path(current_group), :class => "btn btn-default" do
  %i.glyphicon.glyphicon-arrow-left
  Back
- if current_user.group_admin_of? current_group 
  = link_to 'Edit', edit_group_membership_path(current_group, @membership), :class => 'btn btn-primary'
