<% page_heading "Membership" %>

<table class="show-table description-table table table-bordered table-hover table-striped">
<p>
	<tr>
    	<td><b>Member:</b></td> 
  		<td><%= @membership.member.name %> </td>
	</tr>

	<tr>
    	<td><b>Level:</b></td> 
  		<td><%= @membership.level %> </td>
	</tr>

	<tr>
    	<td><b>Created by:</b></td> 
  		<td><%= @membership.creator ? @membership.creator.name : "Unknown user" %> </td>
	</tr>
</p>
</table>

<br />
<%= link_to edit_group_membership_path(current_group, @membership), :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back 
<% end %>&nbsp;
<%= link_to 'Edit', edit_group_membership_path(current_group, @membership), :class => 'btn' %>
