%h1 Users
%table.show-table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th.col-md-1= "First Name"
      %th.col-md-1= "Last Name"
      %th.col-md-1= "E-mail"
      %th.col-md-1= "User Type"
      %th.col-md-1= "Remove"
  %tbody
    - @user_array.each do |o|
      %tr
        %td
          = link_to o.name, o
        %td= o.name
        %td= o.email
        %td= o.access_level
        %td
          = link_to o, :class => 'btn btn-danger', :rel => "tooltip", :title => "Destroy", :data => { :confirm => "Are you sure you want to remove #{o.name}?"}, :method => :delete do
            = icon 'trash-o'

