= render :partial => 'layouts/forum_header_bar'
.right.controls= link_to "Back to Forum List", forums_path
.module
  .module_header
    = @forum.title
    %span.controls.right
      = link_to "New Topic", new_forum_topic_path(@forum) if can? :create, Topic
      = link_to "Edit Forum", edit_forum_path(@forum) if can? :manage, @forum
      = link_to "Delete Forum", forum_path(@forum), :confirm => "Are you sure you want to delete this forum?", :method => :delete if can? :manage, @forum
  %div
    %table
      %tr.smaller
        %th{:align => "left", :colspan => "2"} Topic
        %th Replies
        %th Views
        %th.last_post{:align => "left"} Last Post
      - @forum.topics.each do |topic|
        %tr
          %td.icon= image_tag 'forum_icon.png'
          %td.description
            = link_to topic.title, topic_path(topic)
            %br/
            %span.smaller
              by #{topic.user.name}
          %td.counts.smaller= topic.posts.size - 1
          %td.counts.smaller= topic.hits
          %td.last_post.smaller
            = topic.posts.last.created_at
            %br/
            by #{topic.posts.last.user.name}
