<%= javascript_include_tag 'clusterfck' %>
<%= javascript_include_tag 'd3.min' %>
<%= javascript_include_tag 'd3.layout.min' %>
<%= javascript_include_tag 'd3.phylogram' %>
<%= javascript_include_tag 'similarity-tree' %>
<%= stylesheet_link_tag 'clustering' %>
<%= javascript_include_tag 'newick' %>
<div class='gallery' id='chart'> </div>
<a href="#" id="download_plot">Generate image</a>