<div class="table spacing expand_width">
  <div id="similarity_tree">
    <% rendering = @search.results.first %>
    <% if rendering == :legacy %>
        <% path_to_file = @search.results.last %>
        <div id="download">
          <%= link_to "Download",  :action => "download_tree", :filename => path_to_file %>
        </div>
        <%= image_tag path_to_file, :alt => "Similarity tree", :class => 'clustering' %>
    <% else %>
        <img src='/images/loading_phylogram.gif' class='loading_phylogram'/>
        <%= javascript_include_tag 'd3.v2.min' %>
        <%= javascript_include_tag 'd3.phylogram' %>
        <%= javascript_include_tag 'newick' %>
        <%= javascript_include_tag 'clustering' %>
        <div class='gallery' id='tree'> </div>
        <div id="download"></div>
        <script>
            // Data is computed in Newick format and processed by d3.phylogram javascript library
            <% dendogram_type = @search.results.first -%>

            var newick_string = "<%= @search.results.last -%>"
            var newick = Newick.parse(newick_string);

            buildNewickNodes(newick);

            <%="phylogram(newick);" if dendogram_type == :d3_phylogram -%>
            <%="radial_tree(newick);" if dendogram_type == :d3_radial_tree -%>

            jQuery(".loading_phylogram").remove();
            //create_download_link();
        </script>
    <% end %>
  </div>
</div>