<div class="table spacing expand_width">
  <div id="similarity_tree">
    <% rendering = @search.results.first %>
    <% if rendering == :legacy %>
        <% path_to_file = @search.results.last %>
        <div id="download">
          <%= link_to "Download",  :action => "download_tree", :filename => path_to_file %>
        </div>
        <%= image_tag path_to_file, :alt => "Similarity tree", :class => 'clustering' %>
    <% else %>
        <img src='/images/loading_phylogram.gif' class='loading_phylogram'/>
        <%= javascript_include_tag 'd3.min' %>
        <%= javascript_include_tag 'd3.layout.min' %>
        <%= javascript_include_tag 'd3.phylogram' %>
        <%= javascript_include_tag 'newick' %>
        <div class='gallery' id='phylogram'> </div>
        <div class='gallery' id='radialtree'></div>
        <div id="download"></div>
    <% end %>
  </div>
</div>