<%= form_for([current_group, @examples_lings_property]) do |f| %>
  <% if @examples_lings_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examples_lings_property.errors.count, "error") %> prohibited this <%= current_group.examples_lings_property_name %> from being saved:</h2>

      <ul>
      <% @examples_lings_property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label current_group.example_name %><br />
    <%= f.collection_select :example_id, @examples, :id, :name, :prompt => 'Select a ' + current_group.example_name %>
  </div>

  <div class="field">
    <%= f.label current_group.lings_property_name %><br />
    <%= f.collection_select :lings_property_id, @lings_properties, :id, :property_value, :prompt => 'Select a ' + current_group.lings_property_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% \end %>
