<%= form_for([current_group, @examples_lings_property], :html => {:class => "form-horizontal"}) do |f| %>
  <% if @examples_lings_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examples_lings_property.errors.count, "error") %> prohibited this <%= current_group.examples_lings_property_name %> from being saved:</h2>

      <ul>
      <% @examples_lings_property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label current_group.example_name, :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :example_id, @examples, :id, :name, :prompt => 'Select a ' + current_group.example_name %>
    </div>
  </div>

  <% if @lings_properties %>
    <div class="control-group">
      <%= f.label current_group.lings_property_name, :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :lings_property_id, @lings_properties, :id, :description, :prompt => 'Select a ' + current_group.lings_property_name %>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :lings_property_id, :value => params[:lp_id] %>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <div class="save-container">
        <div class="save-overlay"></div>
        <%= f.submit :class => "btn", :value => "Assign Example" %>
      </div>
    </div>
  </div>
<% end %>
