- page_heading current_group.examples_lings_property_name.pluralize
%h1
  Listing #{current_group.examples_lings_property_name.pluralize}
- if can_see? :manage, ExamplesLingsProperty.new{|elp| elp.group = current_group}
  = link_to "New #{current_group.examples_lings_property_name}", new_group_examples_lings_property_path(current_group), :class => "btn btn-default"
#pagination_table
  = render :partial => "index_partial"
%br/
- if can_see? :manage, ExamplesLingsProperty.new{|elp| elp.group = current_group}
  = link_to "New #{current_group.examples_lings_property_name}", new_group_examples_lings_property_path(current_group), :class => "btn btn-default"
