<%= content_tag :fieldset, :id => "advanced_set", :class => "table" do %>
    <div class="advanced_set">
      <div class="implication_search row">
        <div class="cell label">Universal Implication</div>
        <div class="cell field">
          <%= f.label "Implication", "Both", :for => "search_group_impl_both" %>
          <%= f.radio_button "advanced_set", "both", :checked => false,
                             :id => advanced_search_id(:impl_both),
                             :name => advanced_search_field_name(:advanced_set, :impl) %>
          <%= f.label "Implication", "Antecedent", :for => "search_group_impl_ante" %>
          <%= f.radio_button "advanced_set", "ante", :checked => false,
                             :id => advanced_search_id(:impl_ante),
                             :name => advanced_search_field_name(:advanced_set, :impl) %>
          <%= f.label "Implication", "Consequent", :for => "search_group_impl_cons" %>
          <%= f.radio_button "advanced_set", "cons", :checked => false,
                             :id => advanced_search_id(:impl_cons),
                             :name => advanced_search_field_name(:advanced_set, :impl) %>
        </div>
      </div>
      <div class="implication_search row">
        <div class="cell label">Universal Implication Double</div>
        <div class="cell field">
          <%= f.label "Implication", "Both", :for => "search_group_impl_double" %>
          <%= f.radio_button "advanced_set", "double", :checked => false,
                             :id => advanced_search_id(:impl_double),
                             :name => advanced_search_field_name(:advanced_set, :impl) %>
        </div>
      </div>
      <div class="clustering_search row">
        <div class="cell label">Similarity</div>
        <div class="cell field tree" id="clustering">
          <%= f.label "Clustering", "Tree", :for => "search_group_clust_hamming" %>
          <%= f.radio_button "advanced_set", "hamming", :checked => false,
                             :id => advanced_search_id(:clust_hamming),
                             :name => advanced_search_field_name(:advanced_set, :clustering) %>
        </div>
      </div>
    </div>
<% end %>