- current_group.depths.each do |depth|
  - ling_label  = search_ling_label(@search, depth)
  - keyword_label = "#{ling_label.singularize} Keywords"
  = content_tag :fieldset, :id => ling_label.underscorize do
    .form-group
      = label_tag search_options_id(ling_label), ling_label, :class => "col-md-4 control-label"
      .controls.col-md-8
        = f.select :lings, options_for_select( @search.ling_options(depth), @selected[depth]), {}, |
          :name => search_field_name(:lings, depth),        |
          :class => "form-control",     |
          :multiple => true,                                |
          :id => search_options_id(ling_label),             |
          :readonly => @disabled                            |
    .form-group
      = label_tag search_text_id(keyword_label), keyword_label, :class => "col-md-4 control-label"
      .controls.col-md-8
        = f.text_field :ling_keywords,                           |
          :class => "form-control",                              |
          :id => search_text_id(keyword_label),                  |
          :name => search_text_field_name(:ling_keywords, depth)
    .form-group
      = label_tag "lings-select", "Selection", :class => "col-md-4 control-label"
      .controls.col-md-8.field{:name => "lings-select"}
        = label_tag search_compare_id(depth), :class => "radio-inline" do
          = f.radio_button "ling_set", "compare",                |
            :id => search_compare_id(depth),                     |
            :name => search_compare_field_name(:ling_set ,depth) |
          Compare
