- @search.property_categories.each do |category|
  - prop_label = search_prop_label(category)
  - keyword_label = "#{category.name} Keywords"
  = content_tag :fieldset, :id => prop_label.underscorize, :class => "table" do
    .form-group
      = label_tag search_options_id(prop_label), prop_label, :class => "col-md-4 control-label"
      .controls.col-md-8
        = f.select :properties, @search.property_options(category), {}, |
          :name => search_field_name(:properties, category.id),         |
          :class => "form-control",                                     |
          :multiple => true,                                            |
          :id => search_options_id(prop_label)                          |
    .form-group
      = label_tag search_text_id(keyword_label), keyword_label,  :class => "col-md-4 control-label"
      .controls.col-md-8
        = f.text_field :property_keywords,                                 |
          :class => "form-control",                                        |
          :id => search_text_id(keyword_label),                            |
          :label => keyword_label,                                         |
          :name => search_text_field_name(:property_keywords, category.id)
    .form-group
      = label_tag "props-select", "Selection", :class => "col-md-4 control-label"
      .controls.col-md-8.field{:name => "props-select"}
        = label_tag categorized_set_id(category.name, "any"), :class => "radio-inline" do
          = f.radio_button "property_set", "any", :checked => true, |
            :id => categorized_set_id(category.name, "any"),        |
            :name => categorized_field_name(:property, category.id) |
          Any
        = label_tag categorized_set_id(category.name, "all"), :class => "radio-inline" do
          = f.radio_button "property_set", "all",                   |
            :id => categorized_set_id(category.name, "all"),        |
            :name => categorized_field_name(:property, category.id) |
          All
        = label_tag categorized_set_id(category.name, "cross"), :class => "radio-inline" do
          = f.radio_button "property_set", "cross",                 |
            :id => categorized_set_id(category.name, "cross"),      |
            :name => categorized_field_name(:property, category.id) |
          Cross
