<div class="apple_pagination">
  <div class="margin span5">
   <input type="text" id="auto_lang" autocomplete="off" placeholder="Type to search <%= current_group.ling_name_for_depth(depth).pluralize.downcase %>" class="input-block-level autocomplete" />
  </div>

<!-- render page links in the view: -->
<%= will_paginate lings, renderer: BootstrapPagination::Rails %>
</div>
<table class="show-table table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <% if current_group.has_depth? %>
      <th><%= current_group.ling_name_for_depth(depth - 1) %></th>
    <% end %>
    <% current_group.ling_storable_keys.each do |key| %>
      <th><%= key.humanize %></th>
    <% end %>
    <th>Completeness</th>
      <% if can? :destroy, lings%> 
      <th></th>
    <% end %>
  </tr>
  <% lings.each do |ling| %>
    <tr>
      <td><%= link_to ling.name, [current_group, ling] %></td>
      <% if current_group.has_depth? %>
        <td><%= (link_to ling.parent.name, group_ling_path(current_group, ling.parent)) if ling.parent %></td>
      <% end %>
      <% current_group.ling_storable_keys.each do |key| %>
        <td><%= ling.stored_value(key) %></td>
      <% end %>
      <td>
        <center>
          <% percentage = "#{ling.info}%" %>
          <div class="progress progress-striped progress-danger" style='width: 200px; margin: 10px 20px 5px 30px;'>
            <div class="bar" style="width: <%=ling.info %>%;"><p style='text-align: center;' id='nbrs'><%=ling.info %>%</p></div>
         </div>
        </center>
      </td>
       <% if can? :destroy, ling %>
      <td>
        <%= link_to 'Destroy', [current_group, ling], :class => 'btn btn-danger btn-small', :confirm => 'Are you sure?', :method => :delete %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate lings, renderer: BootstrapPagination::Rails %>
</div>

