<h1>Listing <%= current_group.ling_name_for_depth(depth).pluralize %></h1>
<table>
  <tr>
    <th>Name</th>
    <% if current_group.has_depth? %>
      <th><%= current_group.ling_name_for_depth(depth - 1) %></th>
    <% end %>
    <th></th>
    <th></th>
  </tr>
  <% lings.each do |ling| %>
    <tr>
      <td><%= link_to ling.name, [current_group, ling] %></td>
      <% if current_group.has_depth? %>
        <td><%= (link_to ling.parent.name, group_ling_path(current_group, ling.parent)) if ling.parent %></td>
      <% end %>
      <td><%= link_to 'Edit', edit_group_ling_path(current_group, ling) %></td>
      <td><%= link_to 'Destroy', [current_group, ling], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= link_to "New #{current_group.ling_name_for_depth(depth)}", new_group_ling_path(current_group, :depth => depth) %>
