#pagination_top.apple_pagination
  = alphabetical_paginate paginate_params
%table.show-table.table.table-bordered.table-striped.table-hover
  %tr
    %th.col-md-3 Name
    - if current_group.has_depth?
      %th
        = current_group.ling_name_for_depth(depth - 1)
    - current_group.ling_storable_keys.each do |key|
      %th
        = key.humanize
    %th.col-md-2
      Completeness
      %a{:href => "#", :rel => "tooltip", :title => "Hover the icon for percentage details", :data => {:toggle => "tooltip", :animation => "true"} }
        = icon 'question-circle', '', :class => "pull-right"
    - if can_see? :manage, lings
      %th.col-md-2 Actions
  - lings.each do |ling|
    %tr
      %td
        = link_to ling.name, [current_group, ling]
      - if current_group.has_depth?
        %td
          = (link_to ling.parent.name, group_ling_path(current_group, ling.parent)) if ling.parent
      - current_group.ling_storable_keys.each do |key|
        %td
          = ling.stored_value(key)

      - percentage = "#{ling.info}%"
      - label = "#{ling.info < 100 ? ling.info < 50 ? 'Less than half' : 'Almost Complete' : 'Complete'}: #{percentage}"
      - stage = ling.info < 100 ? ling.info < 50 ? 'error' : 'warning' : 'success'
      - icon_name  = ling.info < 100 ? ling.info < 50 ? 'star-o' : 'star-half-o' : 'star'
      %td{:class => "#{stage}"}
        %p.strong
          %a{:href => "#", :rel => "tooltip", :title => label, :data => {:toggle => "tooltip" } }
            / = ling.info < 100 ? percentage : ''
            = icon icon_name, '' , :class => "fa-2x"
      - if can_see? :manage, ling
        %td
          = link_to edit_group_ling_path(current_group, ling), :class => 'btn btn-default', :title => "Edit" do
            = icon 'edit', '', :class => "fa-15x"
          - if can_see? :destroy, ling
            = link_to [current_group, ling], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :title => "Destroy" do
              = icon 'trash-o', '', :class => "fa-15x"
#pagination_bottom.apple_pagination
  = alphabetical_paginate paginate_params