#pagination_top.apple_pagination.will-paginate
  = alphabetical_paginate paginate_params
- storable_keys = current_group.ling_storable_keys
- any_storable_values_available = check_all_lings(storable_keys, lings)
%table.show-table.table.table-bordered.table-striped.table-hover
  %tr
    %th.col-md-3 Name
    %th.col-md-2
      Completeness
      .pull-right
        %a{:href => "#", :rel => "tooltip", :title => "This is a measure of how many properties have been set for the given language", :data => {:toggle => "tooltip", :animation => "true"} }
          = icon 'question-circle', '', :class => "fa-15x"
    - if current_group.has_depth?
      %th
        = current_group.ling_name_for_depth(depth - 1) + "(s)"
    - if any_storable_values_available
      - storable_keys.each do |key|
        %th
          = key.humanize
    - if can_see_header? [:update, :destroy], lings
      %th.col-md-2 Actions
  - can_see_header = can_see_header?([:update, :destroy], lings)
  - lings.each do |ling|
    %tr
      %td
        = link_to( ling.name, [current_group, ling])
      - percentage = ling.info
      - label = "#{ling.info < 100 ? ling.info < 50 ? 'Less than half' : 'Almost Complete' : 'Complete'}"
      %td{:class => "text-center"}
        .strong
          %a{:href => "#", :rel => "tooltip", :title => label, :data => {:toggle => "tooltip", :placement => "left" } }
            %strong{:class => "#{number_to_text_class(percentage)}"} #{percentage}%
      - if current_group.has_depth?
        - if ling.parent
          %td
            = (link_to ling.parent.name, group_ling_path(current_group, ling.parent))
        - elsif ling.children.size > 0
          %td
            - ling.children.each_with_index do |child, index|
              - suffix = index < ling.children.size - 1 ? ", " : ""
              = (link_to child.name, group_ling_path(current_group, child)) + suffix
        - else
          %td
            = "No " + current_group.ling_name_for_depth(depth - 1).pluralize.downcase + " to display"
      - if any_storable_values_available
        - storable_keys.each do |key|
          %td
            = ling.stored_value(key).html_safe
      - if can_see_header
        %td{:id => table_actions_id(ling.name)}
          - if can_see? :update, ling
            = link_to edit_group_ling_path(current_group, ling), :class => 'btn btn-default', :rel => "tooltip", :title => "Edit", :data => {:toggle => "tooltip", :animation => "true"} do
              = icon 'edit'
          - if can_see? :destroy, ling
            = link_to_delete_ling ling, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :rel => "tooltip", :title => "Delete", :data => {:toggle => "tooltip", :animation => "true"} do
              = icon 'trash-o'
#pagination_bottom.apple_pagination
  = alphabetical_paginate paginate_params
