<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate lings %>
</div>
<table class="show-table table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <% if current_group.has_depth? %>
      <th><%= current_group.ling_name_for_depth(depth - 1) %></th>
    <% end %>
    <% current_group.ling_storable_keys.each do |key| %>
      <th><%= key.humanize %></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Completeness</th>
  </tr>
  <% lings.each do |ling| %>
    <tr>
      <td><%= link_to ling.name, [current_group, ling] %></td>
      <% if current_group.has_depth? %>
        <td><%= (link_to ling.parent.name, group_ling_path(current_group, ling.parent)) if ling.parent %></td>
      <% end %>
      <% current_group.ling_storable_keys.each do |key| %>
        <td><%= ling.stored_value(key) %></td>
      <% end %>
      <td><% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
        <%= link_to "Edit #{current_group.lings_property_name.pluralize}", set_values_group_ling_path(current_group, ling) %> 
      <% end %> </td>
      <td><% if can? :edit, ling %>
        <%= link_to 'Supported Edit', supported_set_values_group_ling_path(current_group, ling) %> 
      <% end %> </td>
      <td><% if can? :edit, ling %>
        <%= link_to 'Edit', edit_group_ling_path(current_group, ling) %> 
      <% end %> </td>
      <td><% if can? :destroy, ling %>
        <%= link_to 'Destroy', [current_group, ling], :confirm => 'Are you sure?', :method => :delete %>
      <% end %></td>
      <td>
        <% percentage = "#{ling.info}%" %>
        <div class="progress progress-striped progress-danger" style='width: 200px; margin: 10px 20px 5px 30px;'>
          <div class="bar" style="width: <%=ling.info %>%;"><p style='text-align: center;' id='nbrs'><%=ling.info %>%</p></div>
       </div>
      </td>
    </tr>
  <% end %>
</table>
<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate lings %>
</div>

