<%= form_for([current_group, @ling]) do |f| %>
  <%= hidden_field_tag :group_id, current_group.id %>
  <% if @ling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ling.errors.count, "error") %> prohibited this <%= current_group.ling_name_for_depth(@depth) %> from being saved:</h2>

      <ul>
      <% @ling.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :depth %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <% if @parents %>
    <div class="field">
      <%= f.label current_group.ling_name_for_depth(@depth) %><br />
      <%= f.collection_select :parent_id, @parents, :id, :name, :prompt => 'Select one or this for "None"' %>
    </div>
  <% end %>

  <% @ling.storable_keys.each do |key| %>
    <div class="field">
      <%= label :stored_values, key %><br />
      <%= text_field :stored_values, key, :value => @ling.stored_value(key) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit("Create " + current_group.ling_name_for_depth(@depth)) %>
  </div>
<% end %>
