<%= form_for([current_group, @ling]) do |f| %>
  <%= hidden_field_tag :group_id, current_group.id %>
  <% if @ling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ling.errors.count, "error") %> prohibited this ling from being saved:</h2>

      <ul>
      <% @ling.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :depth %><br />
    <%= f.number_field :depth, :in => 0..1 %>
  </div>

  <div class="field">
    <%= f.label :parent %><br />
    <%= f.text_field :parent_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
