<%= javascript_tag "var items = #{ @all_lings.map{|x| x.name}
.to_json },
   group = #{ current_group.to_param },
   dict = #{ (Hash[@all_lings.map {|x| [x.name, x.id]}]).to_json };" %>
<% page_heading current_group.ling_name_for_depth(@depth) %>
<h1>Listing <%= current_group.ling_name_for_depth(@depth).pluralize %></h1>
<% if can? :create, Ling.new{|l| l.group = current_group} %>
  <%= link_to "New #{current_group.ling_name_for_depth(@depth)}", new_group_ling_path(current_group, :depth => @depth), :class => "btn" %>
<% end %>
<div id="pagination_table">
    <%= render :partial => "depth_table", :locals => {:lings => @lings, :depth => @depth} %>
</div>
<% if can? :create, Ling.new{|l| l.group = current_group} %>
  <%= link_to "New #{current_group.ling_name_for_depth(@depth)}", new_group_ling_path(current_group, :depth => @depth), :class => "btn" %>
<% end %>
