<% if current_group.depth_maximum == 0 %>
    <h1>Editing <%= current_group.ling0_name %></h1>
<% elsif current_group.depth_maximum >= 0 %>
    <h1>Editing <%= current_group.ling0_name %> or <%= current_group.ling1_name %></h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', [current_group, @ling] %> |
<%= link_to 'Back', group_lings_path(current_group) %>
