<h1>Listing lings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Depth</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lings.each do |ling| %>
  <tr>
    <td><%= ling.name %></td>
    <td><%= ling.depth %></td>
    <td><%= (link_to 'Parent', ling_path(ling.parent)) if ling.parent %></td>
    <td><%= link_to 'Show', ling %></td>
    <td><%= link_to 'Edit', edit_ling_path(ling) %></td>
    <td><%= link_to 'Destroy', ling, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ling', new_ling_path %>
