<% page_heading @ling.grouped_name %>

<h1>Edit <%= current_group.lings_property_name.pluralize %> for <%= @ling.name %></h1>

<%= link_to [current_group, @ling], :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back to <%= @ling.name %> page
<% end %>&nbsp;
<%= link_to "Go to #{@ling.grouped_name.pluralize} page", group_lings_depth_path(current_group, @depth), :class => "btn" %>
<br /><br />
<%= form_tag(submit_values_group_ling_path(current_group, @ling), :method => "post") do %>
  To add a new value to the set of options, fill in "Add new".
  <%= render :partial => "lings/mass_assignment/old_category", :collection => @categories, :inline => true %>
  <%= submit_tag("Submit") %>
<% end %>
<br />
<%= link_to [current_group, @ling], :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back to <%= @ling.name %> page
<% end %>&nbsp;
<%= link_to "Go to #{@ling.grouped_name.pluralize} page", group_lings_depth_path(current_group, @depth), :class => "btn" %>