<h1>Mass assigning for <%= @ling.name %></h1>

<%= form_tag(submit_values_group_ling_path(current_group, @ling), :method => "post") do %>
  To add a new value to the set of options, fill in "Add new".
  <%= render :partial => "lings/mass_assignment/category", :collection => @categories %>
  <%= submit_tag("Submit") %>
<% end %>

<%= link_to 'Show', [current_group, @ling] %> |
<%= link_to 'Back', group_lings_depth_path(current_group, @depth) %>
