<% page_heading @ling.grouped_name %>

<h1>Edit <%= current_group.lings_property_name.pluralize %> for <%= @ling.name %></h1>

<%= link_to "Go to #{@ling.name} page", [current_group, @ling] %> |
<%= link_to "Back to #{@ling.grouped_name.pluralize} page", group_lings_depth_path(current_group, @depth) %>
<br /><br />
<%= form_tag(submit_values_group_ling_path(current_group, @ling), :method => "post") do %>
  To add a new value to the set of options, fill in "Add new".
  <%= render :partial => "lings/mass_assignment/category", :collection => @categories, :inline => true %>
  <%= submit_tag("Submit") %>
<% end %>
<br />
<%= link_to "Go to #{@ling.name} page", [current_group, @ling] %> |
<%= link_to "Back to #{@ling.grouped_name} page", group_lings_depth_path(current_group, @depth) %>
