- page_heading "#{@ling.grouped_name}: #{@ling.name}"
.row.show-header
  .col-md-12
    = link_to group_lings_depth_path(current_group, @ling.depth), :class => "btn btn-default" do
      = icon 'arrow-left'
    .pull-right#edit-dropdown-menu
      -if can_see?(:create, @ling) && @values_count < 1
        = link_to supported_set_values_group_ling_path(current_group, @ling), :class => "btn btn-success", :rel => "tooltip", :title => "Add the first #{current_group.lings_property_name}", :data => {:toggle => "tooltip", :animation => "true", :placement => "left"} do
          = icon 'plus'
      -if can_see? :update, @ling
        %button#edit-dropdown-button.btn.btn-default.dropdown-toggle{:type => "button", :data => {:toggle => "dropdown"}}
          = icon 'edit'
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            = link_to edit_group_ling_path(current_group, @ling) do
              = icon 'edit', "#{@ling.grouped_name}"
          %li
            = link_to supported_set_values_group_ling_path(current_group, @ling) do
              = icon 'edit', "#{current_group.lings_property_name.pluralize}"
%h1
  = "#{@ling.grouped_name}:"
  = @ling.name
  // show the creator on the right here
  -if @ling.creator
    %span.small.pull-right
      Set by
      = @ling.creator.name

.row{:style => "margin: 15px;"}

  #analysis-container.col-md-6.border
    .row
      .col-md-12
        #analysis
          %h3 Quick Analysis
        %form.form
          .row
            .col-md-12
              .form-group
                %label{:for => "ling-search-field"} Add #{current_group.ling_name_for_depth(@ling.depth).pluralize.downcase} to compare with #{@ling.name}
                %input#ling-search-field.form-control{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}
    .row
      .col-md-6
        %label.control-label
          Selected lings (
          %a.remove-items{:href => "#"}> Remove all
          )
        .controls
          %ul#selected-lings
      #compare-buttons.col-md-6.search-buttons
        %a#compare-lings.btn.btn-default.btn-block{:disabled => "disabled", :href => "#Search"}
          =icon 'search', 'Compare Properties'
        %a#similarity-tree.btn.btn-default.btn-block{:disabled => "disabled", :href => "#Search"}
          = icon 'search', 'Similarity Tree'
  .col-md-6
    // Nav tabs
    %ul.nav.nav-tabs.pull-right
      %li.active
        %a{:href => '#details', :data => {:toggle => "tab"}} Overview
      %li
        %a{:href => "#description", :data => {:toggle => "tab"}} Description
      %li
        %a#surenessButton{:href => "#sureness", :data => {:toggle => "tab"}} Sureness Map
      %li
        %a#mapButton{:href => "#map", :data => {:toggle => "tab"}} View on Map
    // Tab panes
    .tab-content
      // use this div to store some ling information
      .tab-pane.active#details{:data => {:id => @ling.id, :depth => @ling.depth }}
        .tabbed-pane
          %table.show-table.table.table-bordered.table-hover.table-striped.ling-table
            - @ling.storable_keys.each do |key|
              - if key != "description" && @ling.stored_value(key) != ""
                %tr
                  %td
                    %b
                      = key.humanize
                      \:
                  %td= @ling.stored_value(key)
            - if @ling.depth == 1 && @ling.parent
              %tr
                %td
                  %b
                    = current_group.ling0_name + ":"
                %td
                  = link_to @ling.parent.name, group_ling_path(current_group, @ling.parent)
            - elsif @ling.depth == 0 && !@ling.children.empty?
              %tr
                %td
                  %b
                    = current_group.ling1_name.pluralize + ":"
                %td
                  - @ling.children.each_with_index do |child, i|
                    - suffix = i < @ling.children.size - 1 ? ", " : ""
                    = (link_to child.name, group_ling_path(current_group, child)) + suffix
            %tr
              %td
                %b Values set:
              %td= @values_count
            %tr
              %td
                %b Completeness:
              - percentage = @ling.info
              - label = "#{percentage} %"
              %td{:class => "text-center"}
                %a{:href => "#", :rel => "tooltip", :title => label, :data => {:toggle => "tooltip", :placement => "left" } }
                  =icon number_to_icon_name(percentage), '', :class => "fa-15x #{number_to_text_class(percentage)}"
      .tab-pane#map{:data => {:name => @ling.name}}
        .tabbed-pane
          #ling-map
      .tab-pane#sureness{:data => {:id => @ling.id}}
        .tabbed-pane
          #sureness-map
            %p TODO:
            %p Here will appear a "sureness" heatmap
      .tab-pane#description
        .tabbed-pane
          .text-justify
            - @ling.storable_keys.each do |key|
              -if key =~ /description/ && @ling.stored_value(key) != ''
                %p= @ling.stored_value(key).html_safe
              - else
                %h3 No description provided
.row
  #pagination_table.col-md-12
    #pagination_top.apple_pagination.will-paginate
      / render page links in the view:
      = will_paginate @values, renderer: BootstrapPagination::Rails
      #export_json.pull-right
        = link_to(group_ling_path(current_group, @ling, :format => :json), {:class => "btn btn-default", :title => "Download", :style => 'height: 35px; margin-top: 20px;'}) do
          #export_json_download{ :style => "padding: 4px 12px;" }
            = icon 'download'
            %span{ :style => "color: #000;" } Export as JSON
    %table.show-table.table.table-bordered.table-striped.table-hover
      %thead
        %th.col-md-1= current_group.property_name
        %th.col-md-1= current_group.lings_property_name
        %th.col-md= current_group.example_name.pluralize
        - if can_see? :update, @ling
          %th.col-md-2 Actions
      %tbody
        - @ordered_values.each do |value|
          - next if value.property.name.eql?('latlong') || value.property.name.downcase.start_with?('iso')
          %tr
            %td.align-left= link_to value.property.name, [current_group, value.property]
            %td.align-left= value.value
            - elps = current_group.examples_lings_properties.find_all_by_lings_property_id(value.id)
            -if elps.any?
              %td.align-left
                - elps.each do |elp|
                  - example = elp.example
                  = link_to(display_example(example.id, current_group.display_style), [current_group, example]) if elp
                  %br
            - else
              %td{:id => table_actions_id(value.property.name, "example")}
                - if can_see? :update, @ling
                  = link_to supported_set_values_group_ling_path(current_group, @ling, :prop_id => value.property.id, :commit => "Select", :anchor => "prop-example"), :class => "btn btn-success pull-right", :rel => "tooltip", :title => "New #{@group.example_name}", :data => {:toggle => "tooltip", :animation => "true" } do
                    = icon 'plus'
            - if can_see? :update, @ling
              %td{:id => table_actions_id(value.property.name)}
                = link_to supported_set_values_group_ling_path(current_group, @ling, :prop_id => value.property.id, :commit => "Select", :anchor => "value-select"), :class => "btn btn-default", :rel => "tooltip", :title => "Edit #{current_group.lings_property_name}", :data => {:toggle => "tooltip", :animation => "true" } do
                  = icon 'edit'
                = link_to [current_group, value], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :rel => "tooltip", :title => "Delete", :data => {:toggle => "tooltip", :animation => "true"} do
                  = icon 'trash-o'
    #pagination_bottom.apple_pagination.will-paginate
      / render page links in the view:
      = will_paginate @values, renderer: BootstrapPagination::Rails

#analysis-modal.modal.fade{ :tabindex => "-1", :role => "dialog", :aria => { :labelledby => "resultsModal", :hidden => "true" }}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ :type => "button", :data => { :dismiss => "modal"}, :aria => { :hidden => "true" }} ×
        %button#minimize.close{ :type => "button", :aria => { :hidden => "true"}} -&nbsp;
        %span#modal-head-content
          %h3 Quick analysis results
      .modal-body
        #analysis-results
      .modal-footer
        %button.btn{:data => {:dismiss => "modal"}, :aria => { :hidden => "true" }} Close
