<% page_heading @ling.grouped_name %>
<h1><%= @ling.grouped_name %></h1>

<% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
    <%= link_to "Edit #{current_group.lings_property_name.pluralize}", set_values_group_ling_path(current_group, @ling) %> |
    <%= link_to "Supported Edit #{current_group.lings_property_name.pluralize}", supported_set_values_group_ling_path(current_group, @ling) %> |
<% end %>
<% if can? :edit, @ling %>
    <%= link_to 'Edit', edit_group_ling_path(current_group, @ling) %> |
<% end %>
<%= link_to 'Back', group_lings_path(current_group) %>
<br /><br />
<table class="show-table description-table table table-bordered table-hover table-striped">
<p>
  <tr>
    <td><b>Type:</b></td> 
    <td><%= current_group.ling_name_for_depth(@ling.depth) %></td>
  </tr>

  <tr>
    <td><b>Name:</b></td> 
    <td><%= @ling.name %> </td>
  </tr>

  <% @ling.storable_keys.each do |key| %>
    <tr>
      <td><b><%= key.humanize %>:</b></td> 
      <td><%= @ling.stored_value(key) %></td>
    </tr>
  <% end %>

  <% if @ling.depth == 1 && @ling.parent %>
    <tr>
      <td><b><%= current_group.ling0_name %>:</b></td> 
      <td><%= link_to @ling.parent.name, group_ling_path(current_group, @ling.parent) %> </td>
    </tr>
  <% elsif @ling.depth == 0 && !@ling.children.empty?%>
    <tr>
    <td><b><%= current_group.ling1_name.pluralize %>:</b></td> 
    <td><% @ling.children.each do |child| %>
      <%= link_to child.name, group_ling_path(current_group, child) %> </br>
    <% end %></td>
    </tr>
  <% end %>

  <tr>
    <td><b>Created by:</b></td> 
    <td><%= @ling.creator ? @ling.creator.name : "Unknown user" %> </td>
  </tr>
</p>
</table>

<br />

<div class="values">
  <h3><%= current_group.lings_property_name.pluralize %></h3>
  <div class="apple_pagination">
    <!-- render page links in the view: -->
    <%= will_paginate @values %>
  </div>
  <table class="show-table table table-bordered table-striped table-hover">
    <thead>
      <th><%= current_group.property_name %></th>
      <th><%= current_group.lings_property_name %></th>
      <th><%= current_group.example_name.pluralize %></th>
      <th> Creator </th>
    </thead>
    <tbody>
      <% @values.each do |value| %>
        <tr>
          <td><%=	link_to value.property.name, [current_group, value.property] %></td>
          <td><%= link_to value.value, [current_group, value] %></td>
          <% elp = ExamplesLingsProperty.find_by_lings_property_id(value.id) %>
          <td><%= display_example(elp.example.id, current_group.display_style) if elp %></td>
          <td><%=	(value.creator ? value.creator.name : "") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <!-- render page links in the view: -->
    <%= will_paginate @values %>
  </div>
</div>

<br />

<% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
  <%= link_to "Edit #{current_group.lings_property_name.pluralize}", set_values_group_ling_path(current_group, @ling) %> |
<% end %>
<% if can? :edit, @ling %>
    <%= link_to "Supported Edit #{current_group.lings_property_name.pluralize}", supported_set_values_group_ling_path(current_group, @ling) %> |
<% end %>
<% if can? :edit, @ling %>
  <%= link_to 'Edit', edit_group_ling_path(current_group, @ling) %> |
<% end %>
<%= link_to 'Back', group_lings_path(current_group) %>
