<% page_heading @ling.grouped_name %>
<h1><%= @ling.grouped_name %> <%= @ling.name %></h1>
<%= link_to group_lings_depth_path(current_group, @ling.depth), :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back 
<% end %>&nbsp;
<% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
    <%= link_to "Supported Edit #{current_group.lings_property_name.pluralize}", supported_set_values_group_ling_path(current_group, @ling), :class => "btn" %>&nbsp;
<% end %>
<% if can? :edit, @ling %>
   <%= link_to "Edit #{@ling.grouped_name}", edit_group_ling_path(current_group, @ling), :class => "btn" %> &nbsp;
<% end %>
<br /><br />
<table class="show-table description-table table table-bordered table-hover table-striped">
<p>
  <tr>
    <td><b>Type:</b></td> 
    <td><%= current_group.ling_name_for_depth(@ling.depth) %></td>
  </tr>

  <tr>
    <td><b>Name:</b></td> 
    <td><%= @ling.name %> </td>
  </tr>

  <% @ling.storable_keys.each do |key| %>
    <% if @ling.stored_value(key) != "" %>
      <tr>
        <td><b><%= key.humanize %>:</b></td> 
        <td><%= @ling.stored_value(key) %></td>
      </tr>
    <% end %>
  <% end %>

  <% if @ling.depth == 1 && @ling.parent %>
    <tr>
      <td><b><%= current_group.ling0_name %>:</b></td> 
      <td><%= link_to @ling.parent.name, group_ling_path(current_group, @ling.parent) %> </td>
    </tr>
  <% elsif @ling.depth == 0 && !@ling.children.empty?%>
    <tr>
    <td><b><%= current_group.ling1_name.pluralize %>:</b></td> 
    <td><% @ling.children.each do |child| %>
      <%= link_to child.name, group_ling_path(current_group, child) %> </br>
    <% end %></td>
    </tr>
  <% end %>

  <tr>
    <td><b>Created by:</b></td> 
    <td><%= @ling.creator ? @ling.creator.name : "Unknown user" %> </td>
  </tr>
</p>
</table>

<br />

<div class="values" id="pagination_table">
  <h3><%= current_group.lings_property_name.pluralize %></h3>
  <div class="apple_pagination will-paginate">
    <!-- render page links in the view: -->
    <%= will_paginate @values, renderer: BootstrapPagination::Rails %>
  </div>
  <table class="show-table table table-bordered table-striped table-hover">
    <thead>
      <th><%= current_group.property_name %></th>
      <th><%= current_group.lings_property_name %></th>
      <th><%= current_group.example_name.pluralize %></th>
      <th> Creator </th>
    </thead>
    <tbody>
      <% @values.each do |value| %>
        <tr>
          <td><%=	link_to value.property.name, [current_group, value.property] %></td>
          <td><%= link_to value.value, [current_group, value] %></td>
          <% elps = ExamplesLingsProperty.find_all_by_lings_property_id(value.id) %>
          <td>
            <% elps.each do |elp| %>
              <% example = elp.example %>
              <%= link_to(display_example(example.id, current_group.display_style), [current_group, example]) if elp %>
            <% end %>
          </td>
          <td><%=	(value.creator ? value.creator.name : "") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination will-paginate">
    <!-- render page links in the view: -->
    <%= will_paginate @values, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<br />
<%= link_to group_lings_depth_path(current_group, @ling.depth), :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back 
<% end %>&nbsp;
<% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
    <%= link_to "Edit #{current_group.lings_property_name.pluralize}", set_values_group_ling_path(current_group, @ling), :class => "btn" %>&nbsp;
    <%= link_to "Supported Edit #{current_group.lings_property_name.pluralize}", supported_set_values_group_ling_path(current_group, @ling), :class => "btn" %>&nbsp;
<% end %>
<% if can? :edit, @ling %>
    <%= link_to 'Edit', edit_group_ling_path(current_group, @ling), :class => "btn" %> &nbsp;
<% end %>
