<% page_heading @ling.grouped_name %>

<p>
  <b>Type:</b> <br />
  <%= current_group.ling_name_for_depth(@ling.depth) %> <br />

  <b>Name:</b> <br />
  <%= @ling.name %> <br />

  <% @ling.storable_keys.each do |key| %>
    <b><%= key.humanize %></b>: <br />
    <%= @ling.stored_value(key) %> <br />
  <% end %>

  <% if @ling.depth == 1 && @ling.parent %>
    <b><%= current_group.ling0_name %>:</b> <br />
    <%= link_to @ling.parent.name, group_ling_path(current_group, @ling.parent) %> <br />
  <% elsif @ling.depth == 0 && !@ling.children.empty?%>
    <b><%= current_group.ling1_name.pluralize %>:</b> <br />
    <% @ling.children.each do |child| %>
      <%= link_to child.name, group_ling_path(current_group, child) %> <br />
    <% end %>
  <% end %>

  <% if !@ling.examples.empty? %>
    <b><%= current_group.example_name.pluralize %>:</b> <br />
    <% @ling.examples.each do |example| %>
      <%= link_to example.id, group_example_path(current_group, example) %> <br />
    <% end %>
  <% end %>

  <% if !@ling.lings_properties.empty? %>
    <b><%= current_group.lings_property_name %>:</b> <br />
    <% @ling.lings_properties.each do |lp| %>
      <%= link_to "#{lp.property.name}: #{lp.value}", group_lings_property_path(current_group, lp) %> <br />
    <% end %>
  <% end %>

  <b>Created by:</b> <br />
  <%= @ling.creator ? @ling.creator.name : "Unknown user" %> <br />
</p>

<% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
  <%= link_to "Mass assign", set_values_group_ling_path(current_group, @ling) %> |
<% end %>
<% if can? :edit, @ling %>
  <%= link_to 'Edit', edit_group_ling_path(current_group, @ling) %> |
<% end %>
<%= link_to 'Back', group_lings_path(current_group) %>
