<% page_heading @ling.grouped_name %>

<% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
    <%= link_to "Edit #{current_group.lings_property_name.pluralize}", set_values_group_ling_path(current_group, @ling) %> |
<% end %>
<% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
    <%= link_to "Supported Edit #{current_group.lings_property_name.pluralize}", supported_set_values_group_ling_path(current_group, @ling) %> |
<% end %>
<% if can? :edit, @ling %>
    <%= link_to 'Edit', edit_group_ling_path(current_group, @ling) %> |
<% end %>
<%= link_to 'Back', group_lings_path(current_group) %>
<br /><br />
<p>
  <b>Type:</b> <br />
  <%= current_group.ling_name_for_depth(@ling.depth) %> <br />

  <b>Name:</b> <br />
  <%= @ling.name %> <br />

  <% @ling.storable_keys.each do |key| %>
    <b><%= key.humanize %></b>: <br />
    <%= @ling.stored_value(key) %> <br />
  <% end %>

  <% if @ling.depth == 1 && @ling.parent %>
    <b><%= current_group.ling0_name %>:</b> <br />
    <%= link_to @ling.parent.name, group_ling_path(current_group, @ling.parent) %> <br />
  <% elsif @ling.depth == 0 && !@ling.children.empty?%>
    <b><%= current_group.ling1_name.pluralize %>:</b> <br />
    <% @ling.children.each do |child| %>
      <%= link_to child.name, group_ling_path(current_group, child) %> <br />
    <% end %>
  <% end %>

  <% if !@ling.examples.empty? %>
    <b><%= current_group.example_name.pluralize %>:</b> <br />
    <% @ling.examples.each do |example| %>
      <%= link_to example.id, group_example_path(current_group, example) %> <br />
    <% end %>
  <% end %>

  <b>Created by:</b> <br />
  <%= @ling.creator ? @ling.creator.name : "Unknown user" %> <br />
</p>

<br />

<div class="values">
  <h3><%= current_group.lings_property_name.pluralize %></h3>
  <div class="apple_pagination">
    <!-- render page links in the view: -->
    <%= will_paginate @values %>
  </div>
  <table>
    <thead>
      <th><%= current_group.property_name %></th>
      <th><%= current_group.lings_property_name %></th>
      <th> Creator </th>
    </thead>
    <tbody>
      <% @values.each do |value| %>
        <tr>
          <td><%=	link_to value.property.name, [current_group, value.property] %></td>
          <td><%=	link_to value.value, [current_group, value] %></td>
          <td><%=	(value.creator ? value.creator.name : "") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <!-- render page links in the view: -->
    <%= will_paginate @values %>
  </div>
</div>

<br />

<% if can? :create, LingsProperty.new{|lp| lp.group = current_group} %>
  <%= link_to "Edit #{current_group.lings_property_name.pluralize}", set_values_group_ling_path(current_group, @ling) %> |
<% end %>
<% if can? :edit, @ling %>
  <%= link_to 'Edit', edit_group_ling_path(current_group, @ling) %> |
<% end %>
<%= link_to 'Back', group_lings_path(current_group) %>
