- page_heading @ling.name + " Examples Supported Edit"
%div{:style=> "height: 50px;"}
  = link_to [current_group, @ling], :class => "btn btn-default" do
    %i.fa.fa-arrow-left
%h1
  Edit #{current_group.lings_property_name.pluralize} for #{@ling.name}

#supported-entry-container
  .row
    #property-selector.col-md-4.set-col
      = render :partial => "lings/mass_assignment/category", :object => @categories, :inline => true
    #property-description.col-md-4.set-col
      = render :partial => "lings/mass_assignment/property", :object => @property
    #property-setter.col-md-4.set-col
      = render :partial => "lings/mass_assignment/value", :object => @property

// Example modal
#example-modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %button#minimize-example.close{"aria-hidden" => "true", :type => "button"} -&nbsp;
        %span#example-modal-title
      .modal-body

// Property modal
#property-modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %button#minimize-prop.close{"aria-hidden" => "true", :type => "button"} -&nbsp;
        %span#property-modal-title
      .modal-body

// ???
.mod-tab
  %a#property-tab.btn.btn-info.hidden{:href => "#"}
    %i.glyphicon-white.glyphicon-chevron-up.shift-down
    Property Description
  %a#example-tab.btn.btn-info.hidden{:href => "#"}
    %i.glyphicon-white.glyphicon-chevron-up.shift-down
    Example