<div class="apple_pagination">
  <!-- render page links in the view: -->
  <%= will_paginate @search.results %>
</div>
<%- common_results = results_in_common_compare_search(@search.results) -%>
<%- if common_results.any? -%>
    <div id="tableCommonHeader">
	    <h3 class="red_grad">Properties in Common: <%= get_lings(@search.results) -%></h3>
    </div>
    <div class="table spacing expand_width">
      <div class="row">
        <%- result_headers(value_for_header(common_results)).each do |proc| -%>
            <div class="cell"><%= proc.call value_for_header(common_results) %></div>
        <%- end -%>
      </div>
      <%- common_results.each do |result| -%>
          <%= render :partial => "searches/compare/result_common", :locals => { :result => result}, :inline => true %>
      <%- end -%>
    </div>
<%- end -%>
<%- diff_results = results_diff_compare_search(@search.results) -%>
<%- if diff_results.any? -%>
    <div id="tableNotCommonHeader">
	    <h3 class="red_grad">Properties not in Common</h3>
    </div>
    <div class="table spacing expand_width">
      <div class="row">
        <%- values_for_header = value_for_header(diff_results) -%>
        <%- diff_headers = result_headers(values_for_header) -%>
        <div class="cell"><%= diff_headers[0].call values_for_header %></div>
        <%- values_for_header.each do |value| -%>
            <div class="cell"><%= diff_headers[1].call value %></div>
        <%- end -%>
      </div>
      <%- diff_results.each do |result| -%>
          <%= render :partial => "searches/compare/result_diff", :locals => { :result => result}, :inline => true %>
      <%- end -%>
    </div>
<%- end -%>
<div class="apple_pagination">
  <!-- render page links in the view: -->
  <%= will_paginate @search.results %>
</div>