<div id="pagination_top" class="apple_pagination will-paginate">
  <!-- render page links in the view: -->
  <%= will_paginate @search.results, renderer: BootstrapPagination::Rails %>
</div>
<%- common_results = results_in_common_compare_search(@search.results) -%>
<%- if common_results.any? -%>
  <div id="tableCommon">
    <div id="tableCommonHeader">
	    <h3 class="red_grad">Properties in Common <%= get_lings(@search.results) -%>:</h3>
    </div>
    <table class="show-table table table-bordered table-striped table-hover">
      <tr>
        <%- result_headers(value_for_header(common_results)).each do |proc| -%>
            <th><%= proc.call value_for_header(common_results) %></th>
        <%- end -%>
      </tr>
      <%- common_results.each do |result| -%>
          <%= render :partial => "searches/compare/result_common", :locals => { :result => result}, :inline => true %>
      <%- end -%>
    </table>
  </div>
<%- end -%>
<%- diff_results = results_diff_compare_search(@search.results) -%>
<%- if diff_results.any? -%>
  <div id="tableNotCommon">
    <div id="tableNotCommonHeader">
	    <h3 class="red_grad">Properties not in Common:</h3>
    </div>
    <table class="show-table table table-bordered table-striped table-hover">
      <tr>
        <%- values_for_header = value_for_header(diff_results) -%>
        <%- diff_headers = result_headers(values_for_header) -%>
        <th><%= diff_headers[0].call values_for_header %></th>
        <%- values_for_header.each do |value| -%>
            <th><%= diff_headers[1].call value %></th>
        <%- end -%>
      </tr>
      <%- diff_results.each do |result| -%>
          <%= render :partial => "searches/compare/result_diff", :locals => { :result => result}, :inline => true %>
      <%- end -%>
    </table>
  </div>
<%- end -%>
<div id="pagination_bottom" class="apple_pagination will-paginate">
  <!-- render page links in the view: -->
  <%= will_paginate @search.results, renderer: BootstrapPagination::Rails %>
</div>
