<% add_body_classes "map" %>
<% page_heading "Group Info" %>

<div id="inner">
  <div id="title">
    <h1><%= @group.name %></h1>
  </div>
  <div id="intro">
    <%- if @group.description.present? -%>
        <p><%= @group.description %></p>
    <% end %>

    <p>
      <% if can? :update, @group %>
          <%= link_to 'Edit', edit_group_path(@group) %> |
      <% end %>
      <%= link_to 'Back', current_group %> |
      <%= link_to 'Search this group', [:new, current_group, :search] %>
    </p>

    <div class="whitebox">
      <table class="show-table description-table table table-bordered table-hover table-striped full-width">
        <%- @group.info_attribute_names.each do |attr_name| -%>
          <tr>
            <td><b><%= attr_name.titleize %></b></td>
            <td><%= @group.send(attr_name) %></td>
          </tr>
        <%- end -%>
      </table>
    </div>

    <p>
      <% if can? :update, @group %>
          <%= link_to 'Edit', edit_group_path(@group) %> |
      <% end %>
      <%= link_to 'Back', current_group %> |
      <%= link_to 'Search this group', [:new, current_group, :search] %>
    </p>
    <br />
    <div id="numbers">
      <div id="stats_title">
        <h2>Numbers for <%= @group.name %></h2>
      </div>
      
      <div class="whitebox">
        <table class="show-table description-table table table-bordered table-hover table-striped full-width">
          <tr>
            <td><b><%=@group.ling0_name.pluralize.titleize %></b></td>
            <td><%=@group.lings_in_group %></td>
          </tr>
          <tr>
            <td><b><%=@group.property_name.pluralize.titleize %></b></td>
            <td><%=@group.props_in_group %></td>
          </tr>
          <tr>
            <td><b>Contributors</b></td>
            <td><%=@group.members_in_group %></td>
          </tr>
          <tr>
            <td><b><%=@group.example_name.pluralize.titleize %></b></td>
            <td><%=@group.examples_in_group %></td>
          </tr>
          <tr>
            <td><b><%=@group.lings_property_name.pluralize.titleize %></b></td>
            <td><%=@group.ling_props_in_group %></td>
          </tr>
        </table>
      </div>
      <%= render :partial => 'groups/info/stats' %>
    </div>
  </div>
</div>
