- page_heading @group.name
%h1
  - @group.name
#inner
  #title
    %h1
      = @group.name
      - if can_see? :edit, @group
        %small.pull-right
          = link_to edit_group_path(@group), :class => "btn btn-default"  do
            %i.fa.fa-edit.fa-2x
        - if @group.privacy == "private"
          %a{:href => "#", :rel => "tooltip", :title => "Private Group", :data => {:toggle => "tooltip", :animation => "true"} }
            = icon  'lock', '', :class => "pull-right"
  #intro
    %form.form
      .row
        .col-md-6
          .form-group
            %label{ :for => "resources-search-field", |
            :id => "searchLabel", |
              :data => {:label => "Looking for a specific #{@group.ling_names.join(", ")} or perhaps a #{@group.property_name}?" }}
            %input#resources-search-field.form-control{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}

    .row
      .col-md-12
        - if @group.description.present?
          %h3 Description
          %p.lead=@group.description
    .row.text-center
      .col-md-12
        .row
          - @group.depths.each do |depth|
            .col-md-3
              .thumbnail.dashboard-box
                - if can_see? :manage, Ling.new{|l| l.group = current_group}
                  = link_to new_group_ling_path(current_group, :depth => depth), :class => "btn btn-success pull-right", :title => "Add a new #{@group.ling_name_for_depth(depth)}" do
                    = icon "plus"
                - percentage = @group.lings_with_property_quota(depth)
                .pull-right 
                  %a{:href => "#", :rel => "tooltip", :title => "Completeness: #{percentage} %", :data => {:toggle => "tooltip", :animation => "true", :placement => "right"} }
                    = icon number_to_icon_name(percentage), '', :class => "fa-3x #{number_to_text_class(percentage)}"
                %a{:href=> group_lings_depth_path(@group, depth) }
                  .caption
                    %h1= @group.lings_in_group(depth)
                    %h3= @group.ling_name_for_depth(depth).pluralize
          .col-md-3
            .thumbnail.dashboard-box
              - if can_see? :manage, Property.new{|p| p.group = current_group}
                = link_to new_group_property_path(current_group), :class => "btn btn-success pull-right", :title => "Add a new #{@group.property_name}" do
                  = icon "plus"
              - percentage = @group.props_with_lings_quota
              .pull-right 
                %a{:href => "#", :rel => "tooltip", :title => "Completeness: #{percentage} %", :data => {:toggle => "tooltip", :animation => "true", :placement => "right"} }
                  = icon number_to_icon_name(percentage), '', :class => "fa-3x #{number_to_text_class(percentage)}"
              %a{:href=> group_properties_path(@group) }
                .caption
                  %h1= @group.props_in_group
                  %h3= @group.property_name.pluralize
        .row
          .col-md-3
            .thumbnail.dashboard-box
              %a{:href=> group_memberships_path(@group) }
                .caption
                  %h1= @group.members_in_group
                  %h3 Members
          .col-md-3
            .thumbnail.dashboard-box
              .caption
                %h1= @group.examples_in_group
                %h3 Examples
          .col-md-3
            .thumbnail.dashboard-box
              .caption
                %h1= @group.ling_props_in_group
                %h3 Values
    / .row
    /   .col-md-12
    /     %table.show-table.description-table.table.table-bordered.table-hover.table-striped.full-width
    /       - @group.info_attribute_names.each do |attr_name|
    /         %tr
    /           %td
    /             %b= attr_name.titleize
    /           - if @group.send(attr_name).is_a? String
    /             %td= @group.send(attr_name).capitalize
    /           - else
    /             %td= @group.send(attr_name)
