<% page_heading "Group" %>

<p>
    <b>Name:</b> <br />
    <%= @group.name %> <br />
    <b>Privacy:</b> <br />
    <%= @group.privacy %> <br />
    <b>Depth Maximum:</b> <br />
    <%= @group.depth_maximum %> <br />
</p>


<% if can? :update, @group %>
  <%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>
<%= link_to 'Groups', groups_path %>
