<p>
    <b>Name:</b> <br />
    <%= @group.name %> <br />
    <b>Privacy:</b> <br />
    <%= @group.privacy %> <br />
    <b>Depth Maximum:</b> <br />
    <%= @group.depth_maximum %> <br />
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
