// = javascript_tag "$.getScript(location.href);"
/ - add_body_classes "map"
- page_heading @group.name
%h1
  - @group.name
#inner
  #title
    %h1
      = @group.name
      - if can_see? :edit, @group
        = link_to edit_group_path(@group) do
          %i.fa.fa-edit.fa-05x
      - if @group.privacy == "private"
        %a{:href => "#", :rel => "tooltip", :title => "Private Group", :data => {:toggle => "tooltip", :animation => "true"} }
          = icon  'lock', '', :class => "pull-right"
  #intro
    .row{:style => "margin-bottom: 20px;"}
      .col-md-6
        - if @group.description.present?
          %p.lead= @group.description
        %form.form
          .row
            .col-md-12
              .form-group
                %label{:for => "resources-search-field"}
                  Looking for a specific 
                  =@group.ling_names.join(", ") 
                  or perhaps a 
                  =@group.property_name 
                  ? 
                %input#resources-search-field.form-control{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}
    .row
      .col-md-12
        %h3 Group details:
        .row
          - @group.depths.each do |depth|
            .col-md-4
              %p
                = @group.lings_in_group(depth)
                = link_to @group.ling_name_for_depth(depth).pluralize, group_lings_depth_path(@group, depth)
          .col-md-4
            %p
              = @group.props_in_group
              = link_to @group.property_name.pluralize, group_properties_path(@group)
        .row
          .col-md-4
            %p
              = @group.members_in_group
              = link_to 'Members', [@group, :memberships]
          .col-md-4
            %p
              = @group.examples_in_group
              Examples
          .col-md-4
            %p
              = @group.ling_props_in_group
              Values
    .row
      .col-md-12
        %h3 Something here?
    / .row
    /   .col-md-12
    /     %table.show-table.description-table.table.table-bordered.table-hover.table-striped.full-width
    /       - @group.info_attribute_names.each do |attr_name|
    /         %tr
    /           %td
    /             %b= attr_name.titleize
    /           - if @group.send(attr_name).is_a? String
    /             %td= @group.send(attr_name).capitalize
    /           - else
    /             %td= @group.send(attr_name)
