- page_heading @group.name
%h1
  - @group.name
#inner
  #title
    .row.show-header
      .col-md-6
        %h1
          = @group.name
      .col-md-6
        .row{:style => "margin-top: 25px;"}
          .col-md-10
            %label{ :for => "resources-search-field", :id => "searchLabel", :data => {:label => "Looking for a specific #{@group.ling_names.join(", ")} or perhaps a #{@group.property_name}?" }}
            %input#resources-search-field.form-control{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}
          .col-md
            %h1
              %small.pull-right
                - if @group.privacy == "private"
                  %a{:href => "#", :rel => "tooltip", :title => "Private Group", :data => {:toggle => "tooltip", :animation => "true"} }
                    = icon  'lock', '', :class => "blue-light"
            #group_settings.pull-right
              - if can_see? :edit, @group
                = link_to edit_group_path(@group), :class => "btn btn-default", :rel => "tooltip", :title => "Edit Group", :data => {:toggle => "tooltip", :animation => "true"}  do
                  = icon 'edit'
              - if can_see? :destroy, @group
                = link_to [current_group], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :rel => "tooltip", :title => "Delete", :data => {:toggle => "tooltip", :animation => "true"} do
                  = icon 'trash-o'
  #intro
    .row
      .col-md-12
        - if @group.description.present?
          %h3 Description
          %p.lead=@group.description
    .row.text-center
      .col-md-12
        .row
          - @group.depths.each do |depth|
            %div{ :class => "col-md-4 #{@group.depths.size > 1 ? '' : 'col-md-offset-2'}"}
              - percentage = 100 * @group.lings_with_property_quota(depth) / @group.props_in_group
              - percentage = percentage > 100 ? 100 : percentage
              - # Something wrong with properties, same property counts twice here
              - # Percentage should never be higher than 100, but it is
              %div{:class => "thumbnail dashboard-box #{number_to_text_class(percentage)}-bg" }
                #ling_settings.pull-right
                  - new_ling = Ling.new{|l| l.group = current_group}
                  - if can_see? :create, new_ling
                    = link_to_new_group_ling new_ling, depth, :class => "btn btn-success", :rel => "tooltip", :title => "New #{@group.ling_name_for_depth(depth)}", :data => {:toggle => "tooltip", :animation => "true", :placement => "right"} do
                      = icon "plus"
                %a.caption{:href=> group_lings_depth_path(@group, depth), :title => "Stats", :data => {:toggle => "popover", :content => "Completeness: #{percentage}%"} }
                  %h1= @group.lings_in_group(depth)
                  %h3= @group.ling_name_for_depth(depth).pluralize
          .col-md-4
            - percentage = 100 * @group.props_with_lings_quota / @group.props_in_group
            %div{:class => "thumbnail dashboard-box #{number_to_text_class(percentage)}-bg" }
              #property_settings.pull-right
                - if can_see? :create, Property.new{|p| p.group = current_group}
                  = link_to new_group_property_path(current_group), :class => "btn btn-success pull-right", :rel => "tooltip", :title => "New #{@group.property_name}", :data => {:toggle => "tooltip", :animation => "true", :placement => "right"} do
                    = icon "plus"
              %a.caption{:href=> group_properties_path(@group), :title => "Stats", :data => {:toggle => "popover", :content => "Completeness: #{percentage}%" } }
                %h1= @group.props_in_group
                %h3= @group.property_name.pluralize
        .row
          .col-md-4
            .thumbnail.dashboard-box
              #membership_settings.pull-right
                - if can_see? :create, Membership.new{|p| p.group = current_group}
                  = link_to new_group_membership_path(current_group), :class => "btn btn-success", :rel => "tooltip", :title => "New Membership", :data => {:toggle => "tooltip", :animation => "true"} do
                    = icon "plus"
              %a.caption{:href=> group_memberships_path(@group) }
                %h1= @group.members_in_group
                %h3 Members
          .col-md-4
            .thumbnail.dashboard-box
              .caption
                %h1= @group.examples_in_group
                %h3= @group.example_name.pluralize
          .col-md-4
            .thumbnail.dashboard-box
              .caption
                %h1= @group.ling_props_in_group
                %h3= @group.lings_property_name.pluralize
= render :partial => "shared/create_ling_modal"