<% add_body_classes "map" %>
<% page_heading @group.name %>

<div id="inner">
  <div id="title">
    <h1><%= @group.name %></h1>
  </div>
  <div id="intro">
    <%- if @group.description.present? -%>
      <p><%= @group.description %></p>
    <% end %>

    <% @group.depths.each do |depth| %>
      <p><%= link_to @group.ling_name_for_depth(depth).pluralize, group_lings_depth_path(@group, depth) %></p>
    <% end %>
    <p><%= link_to @group.property_name.pluralize, group_properties_path(@group) %></p>
    <p><%= link_to @group.example_name.pluralize, group_examples_path(@group) %></p>

    <p>
      <%= link_to 'Group Info', info_group_path(@group) %> |
      <%= link_to 'Search this group', [:new, current_group, :search] %> |
      <%= link_to 'All groups', groups_path %>
    </p>
  </div>
</div>



