#pagination_top.apple_pagination.will-paginate
  / render page links in the view:
  = will_paginate @properties, renderer: BootstrapPagination::Rails
%table.show-table.table.table-bordered.table-striped.table-hover
  %tr
    %th Name
    %th= current_group.category_name
    %th Completeness
    - if can_see? :manage, @properties
      %th Actions
  - @properties.each do |property|
    %tr
      %td= link_to property.name, [current_group, property]
      %td= link_to property.category.name, group_category_path(current_group, property.category)
      %td
        - percentage = "#{property.info}%"
        - color = property.info < 100 ? 'warning' : 'success'
        %center
          .progress.progress-striped{:style => "width: 200px; margin: 10px 20px 5px 30px;"}
            %div{:style => "width: #{property.info}%;", :class => "progress-bar progress-bar-#{color}"}
              %p#nbrs{:style => "text-align: center;"}= percentage
      - if can_see? :destroy, property
        %td
          = link_to 'Destroy', [current_group, property], :class => 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete
%br/
#pagination_bottom.apple_pagination.will-paginate
  / render page links in the view:
  = will_paginate @properties, renderer: BootstrapPagination::Rails
