- if(@hasCategories)
  #pagination_top.apple_pagination.will-paginate
    / render page links in the view:
    = will_paginate @properties, renderer: BootstrapPagination::Rails
  %table.show-table.table.table-bordered.table-striped.table-hover
    %tr
      %th.col-md- Name
      - if current_group.categories.size > 1
        %th= current_group.category_name
      %th.col-md-2
        Completeness
        .pull-right
          %a{:href => "#", :rel => "tooltip", :title => "This is a measure of how many languages have a value set for the given property", :data => {:toggle => "tooltip", :animation => "true"} }
            = icon 'question-circle', '', :class => "fa-15x"
      - if can_see_header? [:update, :destroy], @properties
        %th.col-md-2 Actions
    - @properties.each do |property|
      %tr
        %td= link_to property.name, [current_group, property]
        - if current_group.categories.size > 1
          %td= link_to property.category.name, group_category_path(current_group, property.category)
        - percentage = property.info
        - label = "#{property.info < 100 ? property.info < 50 ? 'Less than half' : 'Almost Complete' : 'Complete'}"
        %td{:class => "text-center"}
          .strong
            %a{:href => "#", :rel => "tooltip", :title => label, :data => {:toggle => "tooltip", :placement => "left" } }
              %strong{:class => "#{number_to_text_class(percentage)}"} #{percentage}%
        - if can_see_any? [:update,:destroy], property
          %td{:id => table_actions_id(property.name)}
            - if can_see? :update, property
              = link_to edit_group_property_path(current_group, property), :class => 'btn btn-default', :rel => "tooltip", :title => "Edit", :data => {:toggle => "tooltip", :animation => "true"} do
                = icon 'edit'
            - if can_see? :destroy, property
              = link_to [current_group, property], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :rel => "tooltip", :title => "Delete", :data => {:toggle => "tooltip", :animation => "true"} do
                = icon 'trash-o'

  #pagination_bottom.apple_pagination.will-paginate
    / render page links in the view:
    = will_paginate @properties, renderer: BootstrapPagination::Rails
- else
  %h3
    There are no #{current_group.category_name.pluralize} yet for this group
  %h3
    You need at least one #{current_group.category_name} to create new #{current_group.property_name.pluralize}
    - if can_see? :create, Category.new{|c| c.group = current_group}
      %span : maybe you want to create a 
      = link_to new_group_category_path(current_group), :class => "btn btn-success" do
        =icon 'plus' , "new #{current_group.category_name}"
      %span ?
