<h1>Listing properties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.name %></td>
    <td><%= link_to property.category.name, group_category_path(@group, property.category) %></td>
    <td><%= link_to 'Show', [@group, property] %></td>
    <td><%= link_to 'Edit', edit_group_property_path(@group, property) %></td>
    <td><%= link_to 'Destroy', [@group, property], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_group_property_path(@group) %>
