<% page_heading current_group.property_name.pluralize %>

<h1>Listing <%= current_group.property_name.pluralize %></h1>

<table>
  <tr>
    <th>Name</th>
    <th><%= current_group.category_name %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= link_to property.name, [current_group, property] %></td>
    <td><%= link_to property.category.name, group_category_path(current_group, property.category) %></td>
    <td><%= link_to 'Edit', edit_group_property_path(current_group, property) %></td>
    <td><%= link_to 'Destroy', [current_group, property], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New #{current_group.property_name}", new_group_property_path(current_group) %>
