<%= javascript_tag "
    var group = #{ current_group.to_param },
    dict = #{ @all_props.to_json },
    items = [];
    $.each(dict, function(key,val) {
      items.push(key);
    });
    $(function() {
      $('#auto_prop').typeahead({
        source: items,
        updater:function (item){
          window.location.href = '/groups/' + group + '/properties/' + dict[item]; 
        }
      });
    });
" %>

<% page_heading current_group.property_name.pluralize %>

<h1>Listing <%= current_group.property_name.pluralize %></h1>
<% if can? :create, Property.new{|p| p.group = current_group} %>
  <%= link_to "New #{current_group.property_name}", new_group_property_path(current_group), :class => "btn" %>
<% end %>
<div class="row">
  <div class="margin span5">
   <input type="text" id="auto_prop" autocomplete="off" placeholder="Type to search <%= current_group.property_name.pluralize.downcase %>" class="input-block-level autocomplete" />
  </div>
</div>
<div id="pagination_table">
  <%= render :partial => 'properties/index_partial' %>
</div>
</div>
<% if can? :create, Property.new{|p| p.group = current_group} %>
  <%= link_to "New #{current_group.property_name}", new_group_property_path(current_group), :class => "btn" %>
<% end %>
