<% page_heading current_group.property_name.pluralize %>

<h1>Listing <%= current_group.property_name.pluralize %></h1>
<% if can? :create, Property.new{|p| p.group = current_group} %>
    <%= link_to "New #{current_group.property_name}", new_group_property_path(current_group) %>
<% end %>
<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate @properties %>
</div>
<table>
  <tr>
    <th>Name</th>
    <th><%= current_group.category_name %></th>
    <th></th>
    <th></th>
    <th>Completeness</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= link_to property.name, [current_group, property] %></td>
    <td><%= link_to property.category.name, group_category_path(current_group, property.category) %></td>
    <td><% if can? :edit, property %>
      <%= link_to 'Edit', edit_group_property_path(current_group, property) %>
    <% end %></td>
    <td><% if can? :destroy, property %>
      <%= link_to 'Destroy', [current_group, property], :confirm => 'Are you sure?', :method => :delete %>
    <% end %></td>
    <td>
        <% percentage = "#{property.info}%" %>
        <div class="progress progress-striped progress-danger" style='width: 200px; margin: 10px 20px 5px 30px;'>
          <div class="bar" style="width: <%=percentage %>;"><p style='text-align: center;' id='nbrs'><%=percentage %></p></div>
       </div>
      </td>
  </tr>
<% end %>
</table>

<br />
<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate @properties %>
</div>
<% if can? :create, Property.new{|p| p.group = current_group} %>
  <%= link_to "New #{current_group.property_name}", new_group_property_path(current_group) %>
<% end %>
