- page_heading current_group.property_name.pluralize
%h1
  Listing #{current_group.property_name.pluralize}
%form.form
  .row
    .col-md-6
      .form-group
        %label{:for => "property-search-field"}
        %input#property-search-field.form-control{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}
    .col-md-6
      .form-group
        - if can_see? :manage, Property.new{|p| p.group = current_group}
          = link_to new_group_property_path(current_group), :class => "btn btn-success pull-right", :title => "Create" do
            = icon "plus", "New #{current_group.property_name}"
#pagination_table
  = render :partial => 'properties/index_partial'

