<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b> <br />
  <%= @property.name %> <br />
  <b>Category:</b> <br />
  <%= @property.category %> <br />
  <b>Depth:</b> <br />
  <%= @property.depth %> <br />
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
