<% page_heading current_group.property_name %>

<h1><%= current_group.property_name %> <%= @property.name %></h1>

<%= link_to group_properties_path(current_group), :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back 
<% end %>&nbsp;
<% if can? :edit, @property %>
  <%= link_to 'Edit', edit_group_property_path(current_group, @property), :class => "btn" %>
<% end %>
<br /><br />
<table class="show-table description-table table table-bordered table-striped table-hover">
  <p>
    <tr>
      <td>Name:</td>
      <td><%= @property.name %></td> 
    </tr>
    <tr>
      <td><%= current_group.category_name %>:</td>
      <td><%= link_to @property.category.name, [current_group, @property.category] %></td> 
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= @property.description %></td> 
    </tr>
    <tr>
      <td>Created by:</td>
      <td><%= @property.creator ? @property.creator.name : "Unknown user" %></td> 
    </tr>
  </p>
</table>

<br />

<div class="values">
  <h3><%= current_group.lings_property_name.pluralize %></h3>
  <div class="apple_pagination">
    <!-- render page links in the view: -->
    <%= will_paginate @values, renderer: BootstrapPagination::Rails %>
  </div>
  <table class="show-table table table-bordered table-striped table-hover">
    <thead>
      <th><%= current_group.ling_name_for_depth(@property.depth) %></th>
      <th><%= current_group.lings_property_name %></th>
      <th> Creator </th>
    </thead>
    <tbody>
      <% @values.each do |value| %>
        <tr>
          <td><%=	link_to value.ling.name, [current_group, value.ling] %></td>
          <td><%=	link_to value.value, [current_group, value] %></td>
          <td><%=	(value.creator ? value.creator.name : "") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <!-- render page links in the view: -->
    <%= will_paginate @values, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<br />

<%= link_to group_properties_path(current_group), :class => "btn btn-inverse" do %>
  <i class = "icon-white icon-arrow-left"></i>&nbsp;Back 
<% end %>&nbsp;
<% if can? :edit, @property %>
  <%= link_to 'Edit', edit_group_property_path(current_group, @property), :class => "btn" %>
<% end %>
