<% page_heading current_group.property_name %>

<p>
  <b>Name:</b> <br />
  <%= @property.name %> <br />
  <b><%= current_group.category_name %>:</b> <br />
  <%= link_to @property.category.name, [current_group, @property.category] %> <br />
  <b>Description:</b> <br />
  <%= @property.description %> <br />
  <b>Created by:</b> <br />
  <%= @property.creator ? @property.creator.name : "Unknown user" %> <br />
</p>

<% if can? :edit, @property %>
  <%= link_to 'Edit', edit_group_property_path(current_group, @property) %> |
<% end %>
<%= link_to 'Back', group_properties_path(current_group) %>
