- page_heading "#{current_group.property_name}: #{@property.name}"
.row.show-header
  .col-md-12
  = link_to group_properties_path(current_group), :class => "btn btn-default" do
    = icon 'arrow-left'
  - if can_see_any? [:create,:update], @property
    .pull-right
      - if can_see?(:create, @property) || @values_count < 1
        %a{:href=>"#", :id => "addValue", :class => "btn btn-success", :rel => "tooltip", :title => "Add the first #{current_group.lings_property_name}", :data => {:toggle => "tooltip", :animation => "true", :placement => "left"}}
          = icon 'plus'
      - if can_see? :update, @property
        = link_to edit_group_property_path(current_group, @property), :class => "btn btn-default", :rel => "tooltip", :title => "Edit #{@property.name}", :data => {:toggle => "tooltip", :animation => "true"} do
          = icon 'edit'
%h1
  = "#{current_group.property_name}: "
  = @property.name
  -if @property.creator
    %span.small.pull-right
      Set by
      = @property.creator.name
.row{:style => "margin: 15px;"}
  #analysis-container.col-md-6.border
    .row
      .col-md-12
        #analysis
          %h3 Quick Analysis
        %form.form
          .row
            .col-md-12
              .form-group
                %label{:for => "property-search-field"} Add #{current_group.property_name.pluralize.downcase} to compare with #{@property.name} values
                %input#property-search-field.form-control{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}
    .row
      .col-md-6
        %label.control-label
          Selected lings (
          %a.remove-items{:href => "#"}> Remove all
          )
        .controls
          %ul#selected-props
      #compare-buttons.col-md-6.search-buttons
        %a#cross-prop.btn.btn-default.btn-block{:disabled => "disabled", :href => "#Search"}
          =icon 'search', 'Cross Properties'
        %a#antecedent-impl.btn.btn-default.btn-block{:disabled => "disabled", :href => "#Search"}
          = icon 'search', 'Implication Antecedent'
        %a#consequent-impl.btn.btn-default.btn-block{:disabled => "disabled", :href => "#Search"}
          = icon 'search', 'Implication Consequent'
  .col-md-6
    // Nav tabs
    %ul.nav.nav-tabs.pull-right
      %li.active
        %a{:href => '#details', :data => {:toggle => "tab"}} Overview
      %li
        %a{:href => "#description", :data => {:toggle => "tab"}} Description
      %li
        %a{:href => "#sureness", :data => {:toggle => "tab"}} Sureness Map
      %li
        %a#mapButton{:href => "#map", :data => {:toggle => "tab"}} View on Map
    // Tab panes
    .tab-content
      .tab-pane.active#details{:data => {:id => @property.id, :depth => @property.depth,:name => @property.name }}
        .tabbed-pane
          %table.show-table.table.table-bordered.table-striped.table-hover
            %tr
              %td
                %b= current_group.category_name + ":"
              %td= link_to @property.category.name, [current_group, @property.category]
            %tr
              %td
                %b Values set:
              %td= @values_count
            %tr
              %td
                %b Completeness:
              - percentage = @property.info
              - label = "#{percentage} %"
              %td{:class => "text-center"}
                %a{:href => "#", :rel => "tooltip", :title => label, :data => {:toggle => "tooltip", :placement => "left" } }
                  %strong{:class => "#{number_to_text_class(percentage)}"} #{percentage}%
      .tab-pane#description
        .tabbed-pane
          .text-justify
            - if @output
              %p= @output
            - else
              %h3 No description provided
      .tab-pane#map
        .tabbed-pane
          #property-map
      .tab-pane#sureness
        .tabbed-pane
          #sureness-map
            %p TODO:
            %p Here will appear a "sureness" heatmap

.row
  %h3= current_group.lings_property_name.pluralize
  %table.show-table.table.table-bordered.table-striped.table-hover
    %thead
      %th= current_group.ling_name_for_depth(@property.depth)
      %th.col-md-1= current_group.lings_property_name
      %th Creator
    %tbody
      - @values.each do |value|
        %tr
          %td= link_to(value.ling.name, [current_group, value.ling])
          %td= link_to(value.value, [current_group, value])
          %td= (value.creator ? value.creator.name : "")


#lingsModal.modal.fade{ :tabindex => "-1", :role => "dialog", :aria => { :labelledby => "lingsModal", :hidden => "true" }}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ :type => "button", :data => { :dismiss => "modal"}, :aria => { :hidden => "true" }} ×
        %span
          %h3 Type to start with a #{current_group.ling0_name}
      .modal-body
        %input#ling-search-field.form-control{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}
      .modal-footer
        %button.btn{:data => {:dismiss => "modal"}, :aria => { :hidden => "true" }} Close