<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @property.name %>
  <b>Category:</b>
  <%= @property.category %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
