<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b> <br />
  <%= @property.name %> <br />
  <b>Category:</b> <br />
  <%= @property.category %> <br />
  <b>Depth:</b> <br />
  <%= @property.depth %> <br />
</p>


<%= link_to 'Edit', edit_group_property_path(@group, @property) %> |
<%= link_to 'Back', group_properties_path(@group) %>
