<p>Overview:</p>
<div style='width: 80%; margin: 10px 20px 10px 30px; text-align: center;'>
      <button id="lings" class="btn btn-danger active">
        <%=@group.ling0_name.pluralize %>
      </button>
      <button id="props" class="btn btn-danger">
        <%=@group.property_name.pluralize %>
      </button>
</div>
<div class="progress progress-striped progress-danger" 
  style='width: 80%; margin: 10px 20px 5px 30px;'>
  <div class="bar" style="width: 90%;"><p style='text-align: center;' id='nbrs'></p></div>
</div>
<div id="slider" style='width: 80%; margin: 10px 20px 5px 30px;'></div>
<div style='width: 80%; margin: 10px;'>
    <p class='strong' style='text-align: center;' id='slider_label'>
      <%=@group.ling0_name.pluralize %> Completeness: <span id='perc'>90%</span>
    </p>
</div>
  <script type="text/javascript">

  var lings_data = <%=@group.lings_with_all_property_quotas.values.map {|value| [value, @group.lings_in_group - value]} %>,
      props_data = <%=@group.props_with_all_ling_quotas.values.map {|value| [value, @group.props_in_group - value]} %>;

  var active = $('#lings').text(),
      last_quota;

  function changeProgressBarWidth(new_width){
    $('.bar').attr('style', 'width: '+new_width+'%');
  }

  function getQuotaToDisplay(quota, callback){
    var new_width;
    if(checkLingButtonActive()){
      new_width = 100 * lings_data[quota][0] / lings_data[0][0];
      $('#nbrs').text(lings_data[quota][0]);
    } else {
      new_width = 100 * props_data[quota][0] / props_data[0][0];
      $('#nbrs').text(props_data[quota][0]);
    }
    changeProgressBarWidth(new_width);
    callback(quota*10);
  }

  function checkLingButtonActive(){
    return active === $('#lings').text();
  }

  function replaceLabel(newQuota){
    $('#slider_label').text(active+' Completeness: ').append($('<span>').text(newQuota+'%'));
  }

  $('#lings').live('click', function(){
    $(this).attr('class', 'btn btn-danger active');
    active = $(this).text();

    $('#props').attr('class', 'btn btn-danger');
    if(last_quota === undefined) last_quota = 90;
    getQuotaToDisplay(last_quota / 10, replaceLabel);
  });

  $('#props').live('click', function(){
    $(this).attr('class', 'btn btn-danger active');
    active = $(this).text();

    $('#lings').attr('class', 'btn btn-danger');
    if(last_quota === undefined) last_quota = 90;
    getQuotaToDisplay(last_quota / 10, replaceLabel);
  });

  // Slider of percentage
  $("#slider").slider({
      min: 0,
      max: 100,
      step: 10,
      value: 90,
      animate: true,
      create: function(event, ui) {
        getQuotaToDisplay(9, replaceLabel);
      },
      change: function(event, ui) {
          last_quota = ui.value;
          getQuotaToDisplay(ui.value / 10, replaceLabel);
        }
    });
  </script>