<h2>
  <%= link_to "Linguistic Explorer", home_path %>
</h2>

<div>
  <%= link_to "Search", new_search_path %>
</div>
<div>
  <%= link_to "Lings", lings_path %>
</div>
<div>
  <%= link_to "Properties", properties_path %>
</div>
<div>
  <%= link_to "Lings Properties", lings_properties_path %>
</div>
<div>
  <%= link_to "Examples", examples_path %>
</div>
