/ - add_body_classes "map"
- if Settings.in_preview
  = render :partial => "preview"
- else
  - page_heading "Home"
  #inner
    .hero{:style=> "margin-top: -20px;"}
      .landing{ :id => daily_image }
        %div{ :style => "position: absolute; bottom: 0; right: 0; background-color: rgba(255,255,255,0.8); padding: 5px;"}
          = daily_attribution
        .container
          .home-lead
            #title{:style=>"margin-bottom: 60px;"}
              %h1 
                Terraling
              %h2.blue Explore the World's Languages
            .row{:style => "width:80%; margin:auto; margin-bottom: 60px;"}
              .col-md-12
                %form.form
                  .row
                    .col-md-12
                      .form-group
                        %input#resources-search-field.form-control.input-lg{:autocomplete => "off", :placeholder => "Loading...", :type => "text"}
  .container
    .row{:style=> "min-height: 300px; margin-top: 280px;"}
      .col-md-10.col-md-offset-1
        .row
          .col-md-4
            %div
              .text-center
                = icon "database", '', :class => "fa-8x"
              .caption
                %p.lead
                  Terraling is built to host your own dataset and let you start discover new insight from your linguistic dataset!
          .col-md-4
            %div
              .text-center
                = icon "slideshare", '', :class => "fa-8x"
              .caption
                %p.lead
                  Collaborate with experts to expand and study your dataset. Or simply partecipate to an existing group!
          .col-md-4
            %div
              .text-center
                = icon "search", '', :class => "fa-8x"
              .caption
                %p.lead
                  Do advanced searches within your dataset to discover insight in your data, download or visualize the results!
    .row
      .col-md-10.col-md-offset-1
        .text-center
          .row
            %h2 Do you want to know more?
          .row
            %a.btn.btn-lg.btn-default{:href => "./about"}
              =icon "info-circle", "About the project"