<%
   page_heading "Search"
%>

<div id="titleHeader">
  <h2><%= @search.group.name %>  Lings in the Selection</h2>
</div>
<div id="search_results" class="padded_left padded_right">
  <%- if @search.results.any? -%>
      <table class="show-table table table-bordered table-striped table-hover">
        <tr>
          <%- result_headers.each do |proc| -%>
              <th><%= proc.call @search.group %></th>
          <%- end -%>
        </tr>
        <%- @presenter_results.each do |result| -%>
            <%= render :partial => "searches/cross/result", :locals => { :result => result}, :inline => true %>
        <%- end -%>
      </table>

      <table class="show-table table table-bordered table-striped table-hover">
        <tr>
          <%- result_headers_lings_cross.each do |proc| -%>
              <th><%= proc.call @search.group %></th>
          <%- end -%>
        </tr>
        <%- if @search.cross? || @search.implication? %>
            <%- @presenter_results.each do |result| -%>
                <%- result.child.each do |ling| -%>
                    <%= render :partial => "searches/cross/result_ling", :locals => { :result => ling }, :inline => true %>
                <%- end -%>
            <%- end -%>
        <%- end -%>
      </table>
  <%- else -%>
      <div class="notice">Your search query returned no results.</div>
  <%- end -%>
</div>
