<%= form_for([current_group, @lings_property]) do |f| %>
  <% if @lings_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lings_property.errors.count, "error") %> prohibited this <% current_group.lings_property_name %> from being saved:</h2>

      <ul>
      <% @lings_property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label current_group.lings_property_name %><br />
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label current_group.ling0_name %><br />
    <%= f.text_field :ling_id %>
  </div>

  <div class="field">
    <%= f.label current_group.property_name %><br />
    <%= f.text_field :property_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
