<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate @lings_properties %>
</div>
<table class="show-table table table-bordered table-striped table-hover">
  <tr>
    <th>Ling</th>
    <th><%= current_group.property_name %></th>
    <th><%= current_group.lings_property_name %></th>
    <% if can? :destroy, @lings_properties %>
    <th></th>
    <% end %>
  </tr>

<% @lings_properties.each do |lings_property| %>
  <tr>
    <td><%= link_to lings_property.ling.name, group_ling_path(current_group, lings_property.ling) %></td>
    <td><%= link_to lings_property.property.name, group_property_path(current_group, lings_property.property) %>
    </td>
    <td><%= link_to lings_property.value, [current_group, lings_property] %></td>
    <% if can? :destroy, lings_property %>
    <td>
      <%= link_to 'Destroy', [current_group, lings_property], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-small' %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate @lings_properties %>
</div>
