<h1>Listing Lings_Properties</h1>

<table>
  <tr>
    <th>Ling</th>
    <th>Property</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lings_properties.each do |lings_property| %>
  <tr>
    <td><%= link_to lings_property.ling.name, group_ling_path(current_group, lings_property.ling) %></td>
    <td><%= link_to lings_property.property.name, group_property_path(current_group, lings_property.property) %><td>
    <td><%= lings_property.value %></td>
    <td><%= link_to 'Show', [current_group, lings_property] %></td>
    <td><%= link_to 'Edit', edit_group_lings_property_path(current_group, lings_property) %></td>
    <td><%= link_to 'Destroy', [current_group, lings_property], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lings_Property', new_group_lings_property_path(current_group) %>
