<p id="notice"><%= notice %></p>

<p>
  <b>Lings_Property:</b> <br />
  <%= link_to @lings_property.ling.name, ling_path(@lings_property.ling) %> <br />

  <b>Property:</b> <br />
  <%= link_to @lings_property.property.name, property_path(@lings_property.property) %> <br />

  <b>Value:</b> <br />
  <%= @lings_property.value %> <br />
</p>


<%= link_to 'Edit', edit_lings_property_path(@lings_property) %> |
<%= link_to 'Back', lings_property_path %>
