<p>
  <b><%= current_group.ling_name_for_depth( @lings_property.ling.depth ) %>:</b> <br />
  <%= link_to @lings_property.ling.name, group_ling_path(current_group, @lings_property.ling) %> <br />

  <b><%= current_group.property_name %>:</b> <br />
  <%= link_to @lings_property.property.name, group_property_path(current_group, @lings_property.property) %> <br />

  <b><%= current_group.lings_property_name %>:</b> <br />
  <%= @lings_property.value %> <br />

  <b>Created by:</b> <br />
  <%= @lings_property.creator ? @lings_property.creator.name : "Unknown user" %> <br />
</p>


<%= link_to 'Edit', edit_group_lings_property_path(current_group, @lings_property) %> |
<%= link_to 'Back', group_lings_properties_path(current_group) %>
