#results_navbar.navbar{ :style => "display: none;" }
  .navbar-inner
    = link_to 'Actions', '#', :class => "brand"
    %ul.nav
      %li
      	= link_to '#', :id => 'mapit' do
          = icon 'map-marker', 'Map it'
      %li
        = link_to '#', :id => 'vizit' do
          = icon 'photo', 'Visualize it'
    %ul.nav.pull-right
      %li
        = link_to '#', :id => 'downloadit' do
          = icon 'download', 'Download it'
      - if display_save_search_form?(@search)
        %li
          = link_to '#save-modal', :id => 'saveit' do
          = icon 'tags', 'Save it'

= render :partial => 'searches/save_search_form'
