<div id="results_navbar" class="navbar", style="display: none;">
  <div class="navbar-inner">
    <%= link_to 'Actions', '#', :class => "brand" %>
    <ul class="nav">
      <li>
      	<%= link_to "<i class = 'icon-map-marker'></i>&nbsp;Map it".html_safe, '#', id: 'mapit', class: 'disabled' %>
      </li>
      <li>
        <%= link_to "<i class = 'icon-picture'></i>&nbsp;Visualize it".html_safe, '#', id: 'vizit', class: 'disabled' %>
      </li>
    </ul>
    <ul class="nav pull-right ">
      <%- if display_save_search_form?(@search) -%>
      <li>
        <%= link_to "<i class = 'icon-tags'></i>&nbsp;Save Results".html_safe, '#save-modal', id: 'saveit' %>
      </li>
      <%- end -%>
    <ul>
  </div>
</div>

<% content_for :scripts do%>
<script>
$('#saveit').click(function(){

  var queryJsonString = JSON.stringify(query.search, null, 0);

  var resultsJsonString = JSON.stringify(makeResultsJson(), null, 0);

  // add search query
  $('[name="search[query_json]"]').val(queryJsonString);

  // add results json
  $('[name="search[result_groups_json]"]').val(resultsJsonString);

  $('#save-modal').modal('show');

});

function makeResultsJson(){

  var rows = resultsJson.rows;
  var saveJson = {};
  
  for( var i =0; i<rows.length; i++){
    saveJson[rows[i].parent.lings_property.id] = [];
    if(rows[i].child && rows[i].child.lings_property){
      saveJson[rows[i].parent.lings_property.id] = $.map(rows[i].child, function(sub){ return sub.lings_property.id; });
    }
  }
  return saveJson;
}
</script>
<%- end -%>

<%= render :partial => 'searches/save_search_form' %>
