<% page_heading "Sign in" %>

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <% if devise_mapping.rememberable? -%>
        <%= label_tag 'user[remember_me]', :class => "checkbox" do %>
          <%= f.check_box :remember_me %> Remember Me
        <% end %>
      <% end -%>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Sign In", :class => "btn" %>
    </div>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
