<%= javascript_include_tag 'search_form' %>
<%= table_form_for search, :html => {:method => "get"} do |f| %>
    <div class="table center expand_width">
      <div class="row">
        <div class="cell">
          <h3>Display</h3>
        </div>
        <div class="cell">
          <%= render :partial => 'searches/form/includes' %>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <h3>Advanced</h3>
        </div>
        <div class="cell">
          <%= render :partial => 'searches/form/advanced_set', :locals => { :f => f }, :inline => true %>
        </div>
      </div>
      <div class="row">
        <div class="cell">

        </div>
        <div class="cell">
          <%= f.submit "Show results", :name => nil %>
          <input class="nudge" type='reset' value='Reset'>
        </div>

      </div>
      <div class="row">
        <div class="cell">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <h3>Constraints</h3>
        </div>
        <div class="cell">
          <%= render :partial => 'searches/form/lings', :locals => { :f => f }, :inline => true %>
          <%= render :partial => 'searches/form/properties', :locals => { :f => f }, :inline => true %>
          <%= render :partial => 'searches/form/lings_properties', :locals => { :f => f }, :inline => true %>
          <%= render :partial => 'searches/form/examples', :locals => { :f => f }, :inline => true %>
        </div>
      </div>
      <div class="row">
        <div class="cell">

        </div>
        <div class="cell">
          <%= f.submit "Show results", :name => nil %>
          <input class="nudge" type="reset" value="Reset">
        </div>
      </div>
    </div>
<% end %>
