<%= form_for search, :html => {:method => "get", :onsubmit =>
  "this.hidden_javascript.value=1;return true;", :class => "form-horizontal", :id => "search-form" } do |f| %>
	<div class="row">
		<div class="span2" id="display">
			<h3>Display</h3>
		</div>
		<div class="span7" id="display_text">
			<%= render :partial => 'searches/form/includes' %>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<h3>Advanced</h3>
		</div>
		<div class="span7">
			<%= render :partial => 'searches/form/advanced_set', :locals => { :f => f }, :inline => true %>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<h3>Constraints</h3>
		</div>
		<div class="span7">
			<%= render :partial => 'searches/form/lings', :locals => { :f => f }, :inline => true %>
			<%= render :partial => 'searches/form/properties', :locals => { :f => f }, :inline => true %>
			<%= render :partial => 'searches/form/lings_properties', :locals => { :f => f }, :inline => true %>
			<%= render :partial => 'searches/form/examples', :locals => { :f => f }, :inline => true %>
      <div class="control-group">
        <label class="control-label" for=""></label>
        <div class="controls">
          <input type="hidden" name="search[javascript]" value="0" id="hidden_javascript">
          <%= f.submit "Show results", :name => nil, :class => "btn" %>
          <input class="nudge btn" type="reset" value="Reset">
        </div>
		</div>
		</div>
	</div>
<% end %>
