#results_navbar.navbar.navbar-default{ :style => "display: none;" }
  .container-fluid
    .navbar-inner
      %button.navbar-toggle{:data => {:toggle => "collapse", :target => "#results-navbar-collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    // Navbar for wider screens
    #results-navbar-collapse.collapse.navbar-collapse
      = link_to 'Views', '#', :class => "navbar-brand"
      %ul.nav.navbar-nav
        %li.active
          = link_to '#', :id => 'table' do
            = icon 'table', '', :class => "fa-15x", :title => "Table"
        %li
          = link_to '#', :id => 'mapit' do
            = icon 'map-marker', '', :class => "fa-15x", :title => "Map"
        %li
          = link_to '#', :id => 'vizit' do
            = icon 'photo', '', :class => "fa-15x", :title => "Chart"
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to '#', :id => 'downloadit' do
            = icon 'download', '', :class => "fa-15x", :title => "Download CSV"
        %li
          = link_to '#save-modal', :id => 'saveit' do
            = icon 'tags', '', :class => "fa-15x", :title => "Save Search"
      = link_to 'Actions', '#', :class => "navbar-brand pull-right"

= render :partial => 'searches/save_search_form'
