<%- if display_save_search_form?(@search) -%>
  <%= content_tag :fieldset do %>
    <h5>Save search results</h5>
    <%= form_for [:group, @search], :html => {:class => "form-horizontal"} do |f| %>
      <% if @search.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>
          <ul>
          <% @search.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :name, :placeholder => "Enter name" %>
      <%= f.hidden_field :query_json %>
      <%= f.hidden_field :result_groups_json %>&nbsp;
      <%= f.submit "Save", :class => "btn" %>
    <%- end -%>
  <%- end -%>
<%- end -%>
