<% 
  page_heading "Search" 
  add_body_classes "full_width"
%>

<h2><%= current_group.name %> Search History</h2>
<div id="searches" class="table spacing margin">
  <%- if @searches.any? -%>
    <%- @searches.each do |search| -%>
      <div class="row">
        <div class="cell">
          <%= search.name %>
        </div>
        <div class="cell">
          <%= link_to "Results", [current_group, search] %>
        </div>
        <div class="cell">
          <%= link_to "Download CSV", group_search_path(current_group, search, :format => :csv) %>
        </div>
        <div class="cell">
          <%= link_to "Delete", [current_group, search], :confirm => "Are you sure?", :method => :delete %>
        </div>
      </div>
    <%- end -%>
  <%- else -%>
    <div class="center">
      No saved searches for <%= current_group.name %>
    </div>
  <%- end -%>
</div>

<%- if @search_comparison.enough_to_compare? -%>
  <%= render :partial => 'search_comparisons/new' %>
<%- end -%>
