- page_heading "Search History"
%h2
  = current_group.name
  Search History
%table#searches.show-table.table.table-bordered.table-striped.table-hover
  - if @searches.any?
    %tr
      %th.col-md-4 Name
      %th.col-md-2 Type
      %th.col-md-2 Timestamp
      %th.col-md-2 Actions
    - @searches.each do |search|
      %tr
        %td
          = link_to search.name, [current_group, search], :class => "pull-left"
        %td.col-md-1
          Regular
        %td.col-md-3=search.created_at.to_formatted_s(:long)
        %td
          = link_to group_search_path(current_group, search, :format => :csv), :class => "btn btn-default", :rel => "tooltip", :title => "Download", :data => {:toggle => "tooltip", :animation => "true"} do
            = icon 'download'
          = link_to [current_group, search], :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger", :rel => "tooltip", :title => "Delete", :data => {:toggle => "tooltip", :animation => "true"} do
            = icon "trash-o"
  - else
    %tr.center
      %td
        No saved searches for #{current_group.name}
- if @search_comparison.enough_to_compare?
  #search_comparisons.padded.border.margin.col-md-12
    %h3 Search comparisons
    = render :partial => 'search_comparisons/new'
