- page_heading "Search History"
%h2
  = current_group.name
  Search History
%table#searches.show-table.table.table-bordered.table-striped.table-hover
  - if @searches.any?
    - @searches.each do |search|
      %tr
        %td
          = link_to search.name, [current_group, search], :class => "pull-left"
        %td.col-md-1
          Regular
        %td.col-md-3
          Saved on Timestamp here
        //  = link_to "Show results", [current_group, search], :class => "btn btn-primary btn-sm", :id => "results"
        // %td
        %td.col-md-2
          = link_to group_search_path(current_group, search, :format => :csv), :class => "btn btn-success btn-sm" do
            = icon 'download', '', :class => "fa-15x", :title => "Download CSV"
          = link_to [current_group, search], :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger btn-sm" do
            = icon "trash-o", '', :class => "fa-15x", :title => "Delete"
  - else
    %tr.center
      %td
        No saved searches for #{current_group.name}
- if @search_comparison.enough_to_compare?
  #search_comparisons.padded.border.margin.col-md-12
    %h3 Search comparisons
    = render :partial => 'search_comparisons/new'
