<div class="center" style="width:800px">
  <h2>Search <%= @group.name %></h2>
  <%= form_for :search, :url => group_searches_path(@group) do |f| %>
    <%= render :partial => 'fields_to_show' %>
    <%- if @search.has_ling_depth? -%>
      <%- @search.ling_depths.each do |depth| -%>
        <%- ling_label  = "Languages #{depth}" -%>
        <%= content_tag :field_set, :id => ling_label.underscorize do %>
          <%= f.label :lings, ling_label, :for => search_options_label(ling_label) %>
          <%= f.select :lings, @search.ling_options(depth), {},
            :name => search_field_name(:lings, depth),
            :multiple => true,
            :id => search_options_label(ling_label)
          %>
        <% end %>
      <%- end -%>
    <%- else -%>
      <fieldset>
        <%= f.label :lings, "Languages" %>
        <%= f.select :lings, @search.ling_options, {}, :multiple => true %>
      </fieldset>
    <%- end -%>
    <fieldset>
      <%= f.label :properties, "Properties" %>
      <%= f.select :properties, @search.property_options, {}, :multiple => true %>
    </fieldset>

    <%- if @search.prop_categories.any? -%>
      <%- @search.prop_categories.each do |category| -%>
        <%- prop_val_label  = "#{category} Value Pairs" -%>
        <%= content_tag :fieldset, :id => prop_val_label.underscorize do %>
          <%= f.label :prop_vals, prop_val_label, :for => search_options_label(prop_val_label) %>
          <%= f.select :prop_vals, @search.prop_val_options(category), {},
            :name => search_field_name(:prop_vals, category),
            :multiple => true,
            :id => search_options_label(prop_val_label) %>
        <% end %>
      <%- end -%>
    <%- else -%>
      <fieldset>
        <%= f.label :prop_vals, "Property Values" %>
        <%= f.select :prop_vals, @search.prop_val_options, {}, :multiple => true %>
      </fieldset>
    <%- end -%>

    <%= f.submit "Search" %>
  <% end %>
</div>
