<div class="center" style="width:800px">
  <h2>Search <%= @group.name %></h2>
  <%= form_for :search, :url => group_searches_path(@group) do |f| %>
    <%= render :partial => 'fields_to_show' %>
    <fieldset>
      <%= f.label :lings, "Languages" %>
      <%= f.select :lings, @search.ling_options, {}, :multiple => true %>
    </fieldset>
    <fieldset>
      <%= f.label :properties, "Properties" %>
      <%= f.select :properties, @search.property_options, {}, :multiple => true %>
    </fieldset>
    <fieldset>
      <%= f.label :lings_properties, "Property Values" %>
      <%= f.select :lings_properties, @search.lings_property_options, {}, :multiple => true %>
    </fieldset>

    <%= f.submit "Search" %>
  <% end %>
</div>
