<div class="center" style="width:800px">
  <h2>Search <%= current_group.name %></h2>
  <%= form_for :search, :url => group_searches_path(current_group) do |f| %>
    <%= render :partial => 'fields_to_show' %>
    <%- @search.ling_depths.each do |depth| -%>
      <%- ling_label  = @search.has_ling_children? ? "#{current_group.ling_name_for_depth(depth).pluralize }".titleize : current_group.ling0_name -%>
      <%= content_tag :fieldset, :id => ling_label.underscorize do %>
        <%= f.label :lings, ling_label, :for => search_options_label(ling_label) %>
        <%= f.select :lings, @search.ling_options(depth), {},
          :name => search_field_name(:lings, depth),
          :multiple => true,
          :id => search_options_label(ling_label)
        %>
      <% end %>
    <%- end -%>

    <%- @search.property_categories.each do |category| -%>
      <%- prop_label = "#{category.name} #{current_group.property_name.pluralize }".titleize -%>
      <%= content_tag :fieldset, :id => prop_label.underscorize do %>
        <div>
          <%= f.label :properties, prop_label, :for => search_options_label(prop_label) %>
          <%= f.select :properties, @search.property_options(category), {},
            :name => search_field_name(:properties, category.id),
            :multiple => true,
            :id => search_options_label(prop_label)
          %>
        </div>
        <div>
          <%= f.label "group", "Any", :for => categorized_set_label(category.name, "any") %>
          <%= f.radio_button "property_set", "any", :checked => true,
            :id => categorized_set_label(category.name, "any"),
            :name => categorized_field_name(category.id, :property) %>
          <%= f.label "property_set", "All", :for => categorized_set_label(category.name, "all") %>
          <%= f.radio_button "property_set", "all",
            :id => categorized_set_label(category.name, "all"),
            :name => categorized_field_name(category.id, :property) %>
        </div>

      <% end %>
    <%- end -%>

    <%- @search.property_categories.each do |category, depth| -%>
      <%- lings_prop_label  = "#{category.name} Value Pairs" -%>
      <%= content_tag :fieldset, :id => lings_prop_label.underscorize do %>
        <div>
          <%= f.label :lings_props, lings_prop_label, :for => search_options_label(lings_prop_label) %>
          <%= f.select :lings_props, @search.lings_prop_options(category), {},
            :name => search_field_name(:lings_props, category.id),
            :multiple => true,
            :id => search_options_label(lings_prop_label) %>
        </div>
        <div>
          <%= f.label "lings_property_set", "Any", :for => categorized_set_label(lings_prop_label, "any") %>
          <%= f.radio_button "lings_property_set", "any", :checked => true,
            :id => categorized_set_label(lings_prop_label, "any"),
            :name => categorized_field_name(category.id, :lings_property) %>
          <%= f.label "lings_property_set", "All", :for => categorized_set_label(lings_prop_label, "all") %>
          <%= f.radio_button "lings_property_set", "all",
            :id => categorized_set_label(lings_prop_label, "all"),
            :name => categorized_field_name(category.id, :lings_property) %>
        </div>
      <% end %>
    <%- end -%>

    <%= f.submit "Search" %>
  <% end %>
</div>
