<div class="center" style="width:800px">
  <h2>Search <%= current_group.name %></h2>
  <%= form_for :search, :url => group_searches_path(current_group) do |f| %>
    <%= render :partial => 'fields_to_show' %>
    <%- @search.ling_depths.each do |depth| -%>
      <%- ling_label  = @search.has_ling_depth? ? "Languages #{depth}" : "Languages" -%>
      <%= content_tag :fieldset, :id => ling_label.underscorize do %>
        <%= f.label :lings, ling_label, :for => search_options_label(ling_label) %>
        <%= f.select :lings, @search.ling_options(depth), {},
          :name => search_field_name(:lings, depth),
          :multiple => true,
          :id => search_options_label(ling_label)
        %>
      <% end %>
    <%- end -%>
    
    <%- @search.property_categories.each do |category| -%>
      <%- prop_label = "#{category.name} Properties" -%>
      <%= content_tag :fieldset, :id => prop_label.underscorize do %>
        <%= f.label :properties, prop_label, :for => search_options_label(prop_label) %>
        <%= f.select :properties, @search.property_options(category), {}, 
          :name => search_field_name(:properties, category.name),
          :multiple => true,
          :id => search_options_label(prop_label)
        %>
      <% end %>
    <%- end -%>

    <%- @search.property_categories.each do |category, depth| -%>
      <%- prop_val_label  = "#{category.name} Value Pairs" -%>
      <%= content_tag :fieldset, :id => prop_val_label.underscorize do %>
        <%= f.label :prop_vals, prop_val_label, :for => search_options_label(prop_val_label) %>
        <%= f.select :prop_vals, @search.prop_val_options(category), {},
          :name => search_field_name(:prop_vals, category.name),
          :multiple => true,
          :id => search_options_label(prop_val_label) %>
      <% end %>
    <%- end -%>

    <%= f.submit "Search" %>
  <% end %>
</div>
