<div class="center" style="width:800px">
  <h2>Start a new search</h2>
  <%= form_for :search, :url => searches_path do |f| %>
    <%= render :partial => 'fields_to_show' %>
    <fieldset>
      <%= f.label :lings, "Languages" %>
      <%= f.select :lings, @search.ling_options, {}, :multiple => true %>
    </fieldset>
    <fieldset>
      <%= f.label :properties, "Properties" %>
      <%= f.select :properties, @search.property_options, {}, :multiple => true %>
    </fieldset>

    <%= f.submit "Search" %>
  <% end %>
</div>
