- page_heading "Search"
%h1
  = @search.group.name
  Search Results

// Use the new JSON version
- if @dynamic_results
  = render :partial => 'searches/dynamic_results'
- else
  // Disable advanced interactions for older version
  //- if @search.results.any? && !@search.clustering?
  //  .row-fluid
  //    #search_interaction.padded.border.margin.col-md-4
  //      - if !@search.cross? && !@search.implication? && !@search.compare?
  //        = render :partial => 'searches/save_search_form'
  //      = link_to "<i class = 'icon-white icon-map-marker'></i>&nbsp;Map it!".html_safe, {:action => "geomapping", :search => @search.query}, :class => "btn btn-block btn-primary" if @search.mappable?
  #search_results.padded_left.padded_right
    // Static rendering 
    - if @search.results.any?
      #pagination_table
        - if @search.default?
          = render :partial => 'searches/results'
        - elsif @search.cross? || @search.implication?
          = render :partial => 'searches/cross/results'
        - elsif @search.compare?
          = render :partial => 'searches/compare/results'
        - elsif @search.clustering?
          = render :partial => 'searches/clustering/results'
    - else
      .notice Your search query returned no results.
