- page_heading @search.name ? "#{@search.name} Saved Search" : "Search"
%h1
  = @search.name || @search.group.name
  Search Results
- if @search_lings["search"] and @search_lings["search"]["lings"]
  %b
    = form_tag "new", :method => :post do
      - @search_lings["search"]["lings"].each do |k,v|
        - v.each do |r|
          = hidden_field_tag "search[lings][#{k}][]", r
      = submit_tag "Repeat search with same keywords"

// Use the new JSON version
- if @dynamic_results || @search.name
  = render :partial => 'searches/dynamic_results'
- else
  // Disable advanced interactions for older version
  //- if @search.results.any? && !@search.clustering?
  //  .row-fluid
  //    #search_interaction.padded.border.margin.col-md-4
  //      - if !@search.cross? && !@search.implication? && !@search.compare?
  //        = render :partial => 'searches/save_search_form'
  //      = link_to "<i class = 'icon-white icon-map-marker'></i>&nbsp;Map it!".html_safe, {:action => "geomapping", :search => @search.query}, :class => "btn btn-block btn-primary" if @search.mappable?
  #search_results.padded_left.padded_right
    // Static rendering 
    - if @search.results.any?
      #pagination_table
        - if @search.default?
          = render :partial => 'searches/results'
        - elsif @search.cross? || @search.implication?
          = render :partial => 'searches/cross/results'
        - elsif @search.compare?
          = render :partial => 'searches/compare/results'
        - elsif @search.clustering?
          = render :partial => 'searches/clustering/results'
    - else
      .notice Your search query returned no results.
