<h2>Results</h2>
<div class="table spacing">
  <div class="row">
    <div class="cell">Languages</div>
    <%- if @search.include_properties? -%>
      <div class="cell">Properties</div>
    <%- end -%>
  </div>

  <%- if @search.include_lings? -%>

    <%- if @search.include_properties? -%>
      <%- @search.lings_properties.each do |lp|-%>
        <div class="row <%= dom_id(lp) %>_result">
          <div class="cell"><%= lp.ling_name %></div>
          <div class="cell <%= lp.ling_name.underscore %>_property"><%= lp.prop_name %></div>
        </div>
      <%- end -%>

    <%- else -%>
      <%- @search.lings.each do |ling|-%>
        <div class="row">
          <div class="cell"><%= ling.name %></div>
        </div>
      <%- end -%>

    <%- end -%>
  <%- elsif @search.include_properties? -%>
    <%- @search.properties.each do |prop| -%>
      <div class="row">
        <div class="cell"><%= prop.name %></div>
      </div>
    <%- end -%>

  <%- end -%>
</div>