<%= form_for([current_group, @example]) do |f| %>
  <% if @example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@example.errors.count, "error") %> prohibited this <%= current_group.example_name %> from being saved:</h2>

      <ul>
      <% @example.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label current_group.ling0_name %><br />
    <%= f.collection_select :ling_id, @lings[:depth_0] + @lings[:depth_1], :id, :name, :prompt => 'Select one or this for "None"' %>
  </div>

  <% @example.stored_values.each do |key, value| %>
    <div class="field">
      <%= f.label key %><br />
      <%= f.text_field key, :to_s, :value => value %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
