<div class="apple_pagination">
  <!-- render page links in the view: -->
  <%= will_paginate @examples %>
</div>

<table class="show-table table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th><%= current_group.ling0_name %></th>
    <th><%= current_group.ling1_name %></th>
    <% if @group.display_style == "linguistic" %>
      <% current_group.example_storable_keys.each do |key| %>
          <% if key == "comment" %>
            <th>Values</th>
            <th><%= key.humanize %></th>
          <% elsif key == "description" %>
            <th><%= key.humanize %></th>
          <% end %>
      <% end %>
    <% else %>
      <% current_group.example_storable_keys.each do |key| %>
          <th><%= key.humanize %></th>
      <% end %>
    <% end %>
    <% if can? :edit, @examples %>
    <th></th>
    <% end %>
    <% if can? :destroy, @examples %>
    <th></th>
    <% end %>
  </tr>

  <% @examples.each do |example| %>
      <tr>
        <td><%= link_to example.name, [current_group, example] %></td>
        <td><%= (link_to example.ling.name, group_ling_path(current_group, example.ling)) if example.ling && example.ling.depth == 0 %></td>
        <td><%= (link_to example.ling.name, group_ling_path(current_group, example.ling)) if example.ling && example.ling.depth == 1 %></td>
        <% if @group.display_style == "linguistic" %>
          <% current_group.example_storable_keys.each do |key| %>
              <% if key == "description" %>
                <td><%= example.stored_value(key) %></td>
                <td class='align-left'>
              <% elsif key == "comment" %>
                </td><td class='small-comment'><%= example.stored_value(key) %></td>
              <% else %>
                <%= example.stored_value(key) %><br />
              <% end %>
          <% end %>
        <% else %>
          <% current_group.example_storable_keys.each do |key| %>
              <% if key == "comment" %>
                <td class='small-comment'><%= example.stored_value(key) %></td>
              <% else %>
                <td><%= example.stored_value(key) %></td>
              <% end %>
          <% end %>
        <% end %>
        <% if can? :edit, example %>
        <td>
              <%= link_to 'Edit', edit_group_example_path(current_group, example) %>
        </td>  <% end %>
        <% if can? :destroy, example %>
        <td>
              <%= link_to 'Destroy', [current_group, example], :confirm => 'Are you sure?', :method => :delete %>
          </td><% end %>
      </tr>
  <% end %>
</table>
<div class="apple_pagination">
  <!-- render page links in the view: -->
  <%= will_paginate @examples %>
</div>
