<p>
  <b>Name:</b> <br />
  <%= @example.name %> <br />
  <% if @example.ling %>
    <b><%= current_group.ling0_name %>:</b> <br />
    <%= link_to @example.ling.name, group_ling_path(current_group, @example.ling) %> <br />
  <% end %>

  <b>Created by:</b> <br />
  <%= @example.creator ? @example.creator.name : "Unknown user" %> <br />
</p>


<%= link_to 'Edit', edit_group_example_path(current_group, @example) %> |
<%= link_to 'Back', group_examples_path(current_group) %>
