<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b> <br />
  <%= @example.id %> <br />
  <% if @example.ling %>
    <b>Ling:</b> <br />
    <%= link_to @example.ling.name, ling_path(@example.ling) %> <br />
  <% end %>
</p>


<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
