<% page_heading current_group.example_name %>

<p>
  <b>Name:</b> <br />
  <%= @example.name %> <br />

  <% if @example.ling %>
    <b><%= @example.ling.grouped_name %>:</b> <br />
    <%= link_to @example.ling.name, group_ling_path(current_group, @example.ling) %> <br />
  <% end %>

  <% @example.storable_keys.each do |key| %>
    <b><%= key.humanize %></b>: <br />
    <%= @example.stored_value(key) %> <br />
  <% end %>

  <b>Created by:</b> <br />
  <%= @example.creator ? @example.creator.name : "Unknown user" %> <br />
</p>


<%= link_to 'Edit', edit_group_example_path(current_group, @example) %> |
<%= link_to 'Back', group_examples_path(current_group) %>
