<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b> <br />
  <%= @example.id %> <br />
  <% if @example.ling %>
    <b>Ling:</b> <br />
    <%= link_to @example.ling.name, group_ling_path(@group, @example.ling) %> <br />
  <% end %>
</p>


<%= link_to 'Edit', edit_group_example_path(@group, @example) %> |
<%= link_to 'Back', group_examples_path(@group) %>
