= render :partial => 'layouts/forum_header_bar'
.module
  .module_header
    = action_name.humanize
    Post
  .module_subheader.smaller
  = form_for [@topic, @post] do |f|
    .module_body
      - if @post.errors.any?
        - flash.now[:error] = @post.errors.full_messages.join(', and ')
      .fieldset
        %span.label.indent.smaller
          = f.label :body
          %br/
          %small (Required)
        %span.input.indent.smaller= f.text_area :body, :cols => 60, :rows => 15
        .clear
    .module_footer
      .fieldset
        %span.input
          = f.submit "Submit"
          or #{link_to "cancel", @topic}
        .clear
