<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate @categories, renderer: BootstrapPagination::Rails %>
</div>
<table class="show-table table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Depth</th>
    <% if can? :destroy, @categories %>
    <th></th>
    <% end %>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, [current_group, category] %></td>
    <td><%= category.depth %></td>
    <% if can? :destroy, category%>
    <td>
      <%= link_to 'Destroy', [current_group, category], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger btn-small" %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<div class="apple_pagination">
<!-- render page links in the view: -->
<%= will_paginate @categories, renderer: BootstrapPagination::Rails %>
</div>
