.apple_pagination
  / render page links in the view:
  = will_paginate @categories, renderer: BootstrapPagination::Rails
%table.show-table.table.table-bordered.table-striped.table-hover
  %tr
    %th Name
    %th Depth
    - if can_see_header? [:destroy], @categories
      %th.col-md-2 Actions
  - @categories.each do |category|
    %tr
      %td= link_to category.name, [current_group, category]
      %td= category.depth
      - if can_see? :manage, category
        %td
          = link_to edit_group_category_path(current_group, category), :class => 'btn btn-default', :rel => "tooltip", :title => "Edit", :data => {:toggle => "tooltip", :animation => "true"} do
            = icon 'edit'
          - if can_see? :destroy, category
            = link_to [current_group, category], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :rel => "tooltip", :title => "Delete", :data => {:toggle => "tooltip", :animation => "true"} do
              = icon 'trash-o'
.apple_pagination
  / render page links in the view:
  = will_paginate @categories, renderer: BootstrapPagination::Rails
