<h1>Listing <%= current_group.category_name.pluralize %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Depth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.depth %></td>
    <td><%= link_to 'Show', [current_group, category] %></td>
    <td><%= link_to 'Edit', edit_group_category_path(current_group, category) %></td>
    <td><%= link_to 'Destroy', [current_group, category], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New #{current_group.category_name}", new_group_category_path(current_group) %>
