- page_heading current_group.category_name
%h1= current_group.category_name
= link_to group_categories_path(current_group), :class => "btn btn-inverse" do
  %i.glyphicon-white.glyphicon-arrow-left>
  \&nbsp;Back
\&nbsp;
- if can? :edit, @category
  = link_to 'Edit', edit_group_category_path(current_group, @category), :class => "btn"
%br/
%br/
%table.show-table.description-table.table.table-bordered.table-striped.table-hover
  %tr
    %td
      %b Name:
    %td= @category.name
  %tr
    %td
      %b Type:
    %td= @category.group.ling_name_for_depth(@category.depth)
  %tr
    %td
      %b Description:
    %td= @category.description
  %tr
    %td
      %b Created by:
    %td= @category.creator ? @category.creator.name : "Unknown user"
= link_to group_categories_path(current_group), :class => "btn btn-inverse" do
  %i.glyphicon-white.glyphicon-arrow-left>
  \&nbsp;Back
\&nbsp;
- if can? :edit, @category
  = link_to 'Edit', edit_group_category_path(current_group, @category), :class => "btn"
