<p>
  <b>Name:</b> <br />
  <%= @category.name %> <br />
  <b>Depth:</b> <br />
  <%= @category.depth %> <br />
  <b>Created by:</b> <br />
  <%= @category.creator ? @category.creator.name : "Unknown user" %> <br />
</p>


<%= link_to 'Edit', edit_group_category_path(current_group, @category) %> |
<%= link_to 'Back', group_categories_path(current_group) %>
