<% page_heading current_group.category_name %>

<p>
  <b>Name:</b> <br />
  <%= @category.name %> <br />
  <b>Type:</b> <br />
  <%= @category.group.ling_name_for_depth(@category.depth) %> <br />
  <b>Description:</b> <br />
  <%= @category.description %> <br />
  <b>Created by:</b> <br />
  <%= @category.creator ? @category.creator.name : "Unknown user" %> <br />
</p>

<% if can? :edit, @category%>
  <%= link_to 'Edit', edit_group_category_path(current_group, @category) %> |
<% end %>
<%= link_to 'Back', group_categories_path(current_group) %>
