- page_heading current_group.category_name
.row
  .col-md-12
    = link_to group_categories_path(current_group), :class => "btn btn-default" do
      = icon 'arrow-left'
    -if can_see? :update, @category
      .pull-right
        = link_to edit_group_category_path(current_group, @category), :class => "btn btn-default", :rel => "tooltip", :title => "Edit #{@category.name}", :data => {:toggle => "tooltip", :animation => "true"} do
          = icon 'edit'
%h1
  = "#{current_group.category_name} :"
  = @category.name
  // show the creator on the right here
  -if @category.creator
    %span.small.pull-right
      Set by
      = @category.creator.name
.row{:style => "margin-top: 25px;"}
  .col-md-6
    %legend Description
.row
  .col-md-6
    %p= @category.description.html_safe
  .col-md-6{:style => "margin-top: -20px;"}
    %table.table.table-hover
      %tr
        %td
          %b Type:
        %td= @category.group.ling_name_for_depth(@category.depth)
      %tr
        %td
          %b Properties:
          %td= @properties
      %tr
        %td
          %b Created by:
        %td= @category.creator ? @category.creator.name : ""
