%div{:style => "min-height: 100px;"}
  %h2 Select Property
- if category.size > 1
  %h4 Category
  #cat-select.row{:style => "height:50px;"}
    = form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do
      .form-group
        %select.form-control#category-select{:name => "category_id"}
          - category.each do |category|
            %option{ :value => category.id, :selected => category.id == @category.id }= category.name
      .form-group
        %a{:href => "#"}.btn.btn-default Select
%h4 Properties
= form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do
  #cat-prop.form-group
    %select.form-control#prop-select{:multiple => "multiple", :name => "prop_id"}
      - @properties.each do |prop|
        %option{:id => "prop-#{prop.id}", :class => sureness_class(prop), :value => prop.id, :selected => (prop.id == @property.id) }= prop.name
  #select-col.form-group
    %a.btn.cat-btn.hidden Select
    - [["  ","default"], ["Unset","danger"], ["Uncertain","warning"]].each do |text, style|
      %a{ :class => "btn btn-block cat-btn btn-#{style}", :href => "#"}
        Next #{text}
        = icon 'angle-double-right', '', :style => "margin-left: 10px;"
