%div{:style => "min-height: 100px;"}
  %h2 Select Property
- if category.size > 1
  %h4 Category
  #cat-select.row{:style => "height:50px;"}
    = form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do
      .form-group
        %select.form-control#category-select{:name => "category_id"}
          - category.each do |category|
            <option value="#{category.id}" #{"selected" if category.id == @category.id}> #{category.name}
      .form-group
        // = submit_tag("Select", class: "btn btn-default", style: "display:block; margin-top:10px;width:120px;")
        %a.btn.btn-default Select
%h4 Properties
= form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do
  #cat-prop.form-group
    %select.form-control#prop-select{:multiple => "multiple", :name => "prop_id"}
      - @properties.each do |prop|
        <option id="prop-#{prop.id}" style= "color:
        - if @preexisting_values.any?
          - lp = @preexisting_values.select{|lp| lp.property_id == prop.id}[0]
          - if lp
            - if lp.sureness != "revisit" && lp.sureness != "need_help"
              green;
            - else
              orange;
          - else
            red;
        - else
          red;
        " value="#{prop.id}" #{"selected" if prop.id == @property.id}> #{prop.name}
  #select-col.form-group
    // = submit_tag "Select", :class => "btn cat-btn hidden"
    %a.btn.cat-btn.hidden Select
    // = submit_tag "Next", :class => "btn btn-default btn-block cat-btn"
    // = submit_tag "Next Unset", :class => "btn btn-danger btn-block cat-btn"
    // = submit_tag "Next Uncertain", :class => "btn btn-warning btn-block cat-btn"
    - [["  ","default"], ["Unset","danger"], ["Uncertain","warning"]].each do |text, style|
      %a{:class => "btn btn-block cat-btn btn-#{style}"}
        Next #{text}
        = icon 'angle-double-right', '', :style => "margin-left: 10px;"
