<%= @properties %>
One
<%= params[:prop_id]%>
Two
<%= @properties.map(&:id) %>
<div id="cat-title" class="fluid-row">
  <h2>Select Property</h2>
</div>
<div class="fluid-container">
  <% if category.count > 1 %>
  <h4> Category </h4>
  <div id="cat-select" class="fluid-row" style="height:50px;">
    <%= form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do %>
    <div class="span7">
      <select id="category-select" name="category_id">
        <% category.each do |category| %>
          <option value="<%= category.id %>" <%= "selected" if category.id == @category.id %>> <%= category.name %> </option>
        <% end %>
      </select>
    </div>
    <div class="span3 offset1">
      <%= submit_tag("Select", class: "btn", style: "display:block; margin-top:10px;width:120px;") %>
    </div>
    <%end %>
  </div>
  <% end %>
  <h4> Properties </h4>
  <%= form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do %>
  <div id="cat-prop" class="fluid-row">
      <select id="prop-select" name="prop_id" multiple="multiple">
        <% @properties.each do |prop|%>
          <option id="prop-<%= prop.id %>" style= "color:
          <% if @preexisting_values.any? %>
            <% lp = @preexisting_values.select{|lp| lp.property_id == prop.id}[0] %>
            <% if lp %>
              <% if lp.sureness != "revisit" && lp.sureness != "need_help" %>
                green;
              <% else %>
                orange;
              <% end %>
            <% else %>
              red;
            <% end %>
          <% else %>
            red;
          <% end %>
          " value="<%=prop.id%>" <%= "selected" if prop.id == @property.id %>> <%= prop.name %></option>
        <% end %>
      </select>
    </div>
    <div id="select-col" class ="row-fluid">
      <%= submit_tag("Next", class: "btn btn-primary btn-block cat-btn") %>
      <%= submit_tag("Next Unset", class: "btn btn-danger btn-block cat-btn") %>
      <%= submit_tag("Next Uncertain", class: "btn btn-warning btn-block cat-btn") %>
    </div>
    <% end %>
</div>
