<div id="prop-title" class="fluid-row">
  <h2>Property Description</h2>
</div>
<div class="fluid-container">
  <div id="prop-name" class="fluid-row" data-prop_id=<%= @property.id || 0 %>, data-ling_id=<%= @ling.id || 0 %>, 
    data-lp_id=<%= @ling_properties[0].id if @ling_properties && @ling_properties.any? %> >
    <h4> Property Name </h4>
    <p>
      <%= property.name %>
    </p>
  </div>
  
  <div id="prop-descrip" class="fluid-row">
    <h4> Property Description </h4>
    <p>
      <% if property.description %>
        <%= property.description %>
      <% else %>
        no property description available
      <% end %>
    </p>
  </div>

  <div id="prop-relations" class="fluid-row">
    <h4>Property in other <%= current_group.ling_name_for_depth(@depth).pluralize.downcase %></h4>
    <div class="content-box">
      <% @relations.each do |lp| %>
        <b><%= lp[0] %></b>: <%= lp[1] %><br />
      <% end %>
    </div>
  </div>
</div>


