%div
  %h2 Values
#values-container{:style => "min-height: 290px;"}
  = form_tag(supported_submit_values_group_ling_path(current_group, @ling), :method => "post", id: "value-form") do
    = hidden_field_tag :property_id, @property.id
    #value-select.form-group
      %h4 Select Value
      #values{:style => "max-height:200px; *height:150px; overflow-y: auto;"}
        %div{:style => "margin-left: 25px;"}
          - @property.available_values.map(&:capitalize).sort.reverse.each do |value|
            = label_tag "value[#{value}]", :class => "radio" do
              = radio_button_tag "value", value, 
                @preexisting_values.select{|lp| lp.property == @property && lp.value == value}.first
              = value
        - if can_see? :create, @ling
          .row
            .col-md-12
              .input-group
                %span.input-group-addon
                  = radio_button_tag "value", "value_new"
                %input#new_value.form-control{:type => "text", :name => "new_value", :placeholder => "or Add a New One"}
    #value-sureness-box.alert.alert-info
      %h4 Please indicate sureness to save:
      #value-sureness.form-group{:name => "value_sureness", :style => "margin-top: 25px; padding-bottom: 10px;"}
        .btn-group.btn-group-justified
          .btn-group
            %button.btn.btn-default#sureness_certain{ :name => "value_sureness", :value => "certain", :class => "#{'active' if @ling_properties && @ling_properties.select {|lp| lp.sureness == "certain"}.any?}" } Certain
          .btn-group
            %button.btn.btn-default#sureness_revisit{ :name => "value_sureness", :value => "revisit", :class => "#{'active' if @ling_properties && @ling_properties.select {|lp| lp.sureness == "revisit"}.any?}" } Revisit
          .btn-group
            %button.btn.btn-default#sureness_need_help{ :name => "value_sureness", :value => "need_help", :class => "#{'active' if @ling_properties && @ling_properties.select {|lp| lp.sureness == "need_help"}.any?}" } Need Help
      .pull-left{:style => "margin-top: -5px; font-size: 20px;"}
        .red
          = icon 'exclamation-circle', 'Changes not yet saved!', :id => "value-not-saved"
        .green.hide.strong
          = icon 'check', 'Saved', :id => "value-saved-success"
        .red.hide.strong
          = icon 'exclamation-circle', 'Error', :id => "value-saved-error"
  #prop-example.form-group{:style => "margin-top: 15px;"}
    %h4 Examples
    #prop-active-example.content-box
      - if @example
        %p
          = render :partial => "examples/show", :object => @example
      - else
        %p.lead
          No example selected
    #prop-example-selector
      = form_tag({controller: "lings", action: "supported_set_values"}, method: "get", :class=> "form-inline") do
        .form-group
          %select.form-control#example-select{:name => "example_id"}
            - if @examples.present?
              - @examples.each do |example|
                %option{ :value => example.id } #{example.name}
            - else
              %option No examples available
        .form-group
          %a#exampe-select-btn.btn.btn-default Select
        .form-group
          .green.strong
            = icon 'check', 'Example Created', :id => "exampled-saved-success"
    %div{:style => "margin: 10px 0 0 0; min-height: 15px; *height: 15px;"}
      %span#example-warning.blue.italic{:class => "#{'hidden' unless @exists}"} You must set a value before creating examples 
    #prop-example-creator{:style => "margin-top: 10px;"}
      - if can_see? :create, @ling
        %a#example-create{:class => "btn btn-success #{@exists ? "enabled" : "disabled"}", :href => "#"} 
          = icon 'plus', 'Create Example'
      - if can_see? :update, @ling
        %a#example-change{:class => "btn btn-default #{@examples.present? ? "enabled" : "disabled"}", :href => "#"}
          =icon 'edit', 'Change Example'
