<div id="value-title" class="fluid-row">
  <h2>Values</h2>
</div>
<div class="fluid-container">
  <%= form_tag(supported_submit_values_group_ling_path(current_group, @ling), 
               :method => "post", id: "value-form") do %>
  <%= hidden_field_tag :property_id, @property.id %>
   <div id="value-select" class="fluid-row">
      <h4>Select Value</h4>
        <div style="max-height:200px;*height:150px;overflow-y:auto;">
          <% @property.available_values.sort.reverse.each do |value| %>
            <%= label_tag "value[#{value}]", :class => "radio" do %>
              <%= radio_button_tag "value",
                                    value,
                                    @preexisting_values.select{|lp| lp.property == @property && lp.value == value}.first %>
              <%= value %>
            <% end %>
          <% end %>
        </div>
      <% if current_user.admin? || current_user.administrated_groups.include?(@group) %>
        <%= label_tag "value[value_new]", :class => "radio" do %>
          <%= radio_button_tag "value",
            "value_new" %>
          <%= text_field_tag "new_value" %>
        <% end %>
      <% end %>
    </div>
    <div id="value-sureness" name="value_sureness" class="fluid-row">
      <h4>How sure are you?</h4>
      <label class="radio">
        <input type="radio" id="sureness[certain]" name="value_sureness" value="certain" <%= "checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "certain"}.any? %>>
        Certain
      </label>
      <label class="radio">
        <input type="radio" id="sureness[revisit]" name="value_sureness" value="revisit"<%= "checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "revisit"}.any? %>>
        Revisit
      </label>
      <label class="radio">
        <input type="radio" id="sureness[need_help]" name="value_sureness" value="need_help"<%= "checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "need_help"}.any? %>>
        Need Help
      </label>
    </div>
    <div id="save-container">
      <div id="save-overlay"></div>
      <%= submit_tag("Save", class: "btn btn-block", id: "save-btn") %>
    </div>
  <% end %>

  <div id="prop-example" class="fluid-row">
    <h4> Examples </h4>
    <div id="prop-active-example" class="content-box">
      <% if @example %>
        <p>
          <%= render partial: "examples/show", object: @example %>
        </p>
      <% else %>
        <p>
          No example selected
        </p>
      <% end %>
    </div>
  </div>
  <div id="prop-example-selector" class="fluid-row">
    <%= form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do %>
    <div class="span8">
      <select id="example-select" name="example_id">
      <% if !@examples.empty? %>
        <% @examples.each do |example| %>
          <option value=<%= example.id %>> <%= example.name %> </option>
        <% end %>
      <% else %>
        <option> No examples available </option>
      <% end %>
      </select>
    </div>
    <div class="span4 offset 1">
      <%= submit_tag("Select", class: "btn btn-block", id: "example-select-btn") %>
    </div>
    <% end %>
  </div>
  <div id="prop-example-creator" class="row-fluid">
    <div class="span6">
      <a id="example-create" href="/groups/<%=current_group.id%>/examples/new" class="btn btn-primary btn-block">Create Example</a>
    </div>
    <div class="span6">
      <a id="example-assign" href="/groups/<%=current_group.id%>/examples_lings_properties/new" class="btn btn-success btn-block">Assign Example</a>
    </div>
  </div>
</div>
