<div class="fluid-container">
  <%= form_tag(supported_submit_values_group_ling_path(current_group, @ling), :method => "post") do %>
    <div id="value-title" class="fluid-row">
      <h2>Values</h2>
    </div>
  <%= hidden_field_tag :property_id, @property.id %>
   <div id="value-select" class="fluid-row">
      <h4>Select Value</h4>
        <div style="max-height:200px;*height:150px;overflow-y:auto;">
          <% @property.available_values.sort.reverse.each do |value| %>
            <div class="row-fluid">
              <div class="span1">
                <%= radio_button_tag "values[#{@property.id}][#{value}]", value,
                                 @preexisting_values.select{|lp| lp.property == @property && lp.value == value}.first %>
              </div>
              <div class="span11">
                <%= label_tag "values[#{@property.id}][#{value}]", value %>
              </div>
            </div>
          <% end %>
        </div>
      <% if current_user.admin? || current_user.administrated_groups.include?(@group) %>
      <h5>or Add a New one</h5>
      <%= text_field_tag "values[#{@property.id}][_new]" %>
      <% end %>
    </div>
    <div id="value-sureness" name="value_sureness" class="fluid-row">
      <h4>How sure are you?</h4>
      <label class="radio">
        <input type="radio" id="sureness[certain]" name="value_sureness" value="certain" <%= "checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "certain"}.any? %>>
        Certain
      </label>
      <label class="radio">
        <input type="radio" id="sureness[revisit]" name="value_sureness" value="revisit"<%= "checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "revisit"}.any? %>>
        Revisit
      </label>
      <label class="radio">
        <input type="radio" id="sureness[need_help]" name="value_sureness" value="need_help"<%= "checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "need_help"}.any? %>>
        Need Help
      </label>
    </div>
    <%= submit_tag("Save", class: "btn btn-block") %>
  <% end %>

  <div id="prop-example" class="fluid-row">
    <h4> Examples </h4>
    <div id="prop-active-example">
      <% if @example %>
        <p>
          <%= render partial: "examples/show", object: @example %>
        </p>
      <% else %>
        <p>
          No example selected
        </p>
      <% end %>
    </div>
  </div>
  <div id="prop-example-selector" class="fluid-row">
    <div class="span8">
    <%= form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do %>
      <select id="example-select" name="example_id">
      <% if !@examples.empty? %>
        <% @examples.each do |example| %>
          <option value=<%= example.id %>> <%= example.name %> </option>
        <% end %>
      <% else %>
        <option> No examples available </option>
      <% end %>
      </select>
    </div>
    <div class="span4 offset 1">
      <%= submit_tag("Select", class: "btn" , style:"display:block;width:100px;") %>
    </div>
    <% end %>
    <div class="row-fluid">
      <div class="span6">
        <a href="/groups/<%=current_group.id%>/examples/new" class="btn btn-primary" style="color:white;margin-top:-10px;">Create New Example</a>
      </div>
      <div class="span6">
        <a href="/groups/<%=current_group.id%>/examples_lings_properties/new" class="btn btn-success" style="color:white;margin-top:-10px;">Assign Existing Example</a>
      </div>
    </div>
  </div>
</div>
