#value-title.fluid-row
  %h2 Values
.fluid-container
  = form_tag(supported_submit_values_group_ling_path(current_group, @ling), |
    :method => "post", id: "value-form") do                                 |
    = hidden_field_tag :property_id, @property.id
    #value-select.fluid-row
      %h4 Select Value
      %div{:style => "max-height:200px;*height:150px;overflow-y:auto;"}
        - @property.available_values.sort.reverse.each do |value|
          .row-fluid
            .col-md-1
              = radio_button_tag "values[#{@property.id}][#{value}]", value,                         |
                @preexisting_values.select{|lp| lp.property == @property && lp.value == value}.first |
            .col-md-11
              = label_tag "values[#{@property.id}][#{value}]", value
      - if current_user.admin? || current_user.administrated_groups.include?(@group)
        %h5 or Add a New one
        = text_field_tag "values[#{@property.id}][_new]"
    #value-sureness.fluid-row{:name => "value_sureness"}
      %h4 How sure are you?
      %label.radio
        <input type="radio" id="sureness[certain]" name="value_sureness" value="certain" #{"checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "certain"}.any?}>
        Certain
      %label.radio
        <input type="radio" id="sureness[revisit]" name="value_sureness" value="revisit"#{"checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "revisit"}.any?}>
        Revisit
      %label.radio
        <input type="radio" id="sureness[need_help]" name="value_sureness" value="need_help"#{"checked" if @ling_properties && @ling_properties.select {|lp| lp.sureness == "need_help"}.any?}>
        Need Help
    #save-container
      #save-overlay
      = submit_tag("Save", class: "btn btn-block", id: "save-btn")
  #prop-example.fluid-row
    %h4 Examples
    #prop-active-example.content-box
      - if @example
        %p
          = render partial: "examples/show", object: @example
      - else
        %p
          No example selected
  #prop-example-selector.fluid-row
    = form_tag({controller: "lings", action: "supported_set_values"}, method: "get") do
      .col-md-8
        %select#example-select{:name => "example_id"}
          - if !@examples.empty?
            - @examples.each do |example|
              <option value=#{example.id}> #{example.name}
          - else
            %option No examples available
      .col-md-4.col-md-offset-1
        = submit_tag("Select", class: "btn btn-block", id: "example-select-btn")
  #prop-example-creator.row-fluid
    .col-md-6
      %a.btn.btn-primary.btn-block{:href => "/groups/#{current_group.id}/examples/new"} Create Example
    .col-md-6
      %a.btn.btn-success.btn-block{:href => "/groups/#{current_group.id}/examples_lings_properties/new"} Assign Example
