- if @group && !@group.new_record?
  %li#group_id.dropdown
    = link_to (@group.name + "<b class='caret'></b>").html_safe, @group, :class => "group dropdown-toggle", |
      :id => "group-link"                                                                                   |
    %ul.dropdown-menu.inverse{"aria-labelledby" => "dLabel", :role => "menu"}
      - Group.all.each do |group|
        - if group != @group
          %li{:role => "presentation"}
            = link_to group.name, group
  %li= link_to 'Advanced Search', [:new, @group, :search]
  %li= link_to 'History', [@group, :searches] if user_signed_in?
  %li= link_to @group.ling0_name.pluralize, group_lings_depth_path(@group, Depth::PARENT)
  - if @group.has_depth?
    %li= link_to @group.ling1_name.pluralize, group_lings_depth_path(@group, Depth::CHILD)
  %li= link_to @group.property_name.pluralize, [@group, :properties]
  - if @group.categories.count > 1
    %li
      = link_to(@group.category_name, [@group, :categories])
  %li= link_to "Members", [@group, :memberships]
- elsif @groups
  = form_tag({:controller => "groups", :action => "index"}, :method => "get", :class => "navbar-search") do
    = collection_select("", :id, @groups, :id, :name, {:prompt => "Select a Group"}, { :name => :group_id, :id => "group_id"  })
    = submit_tag("Go", :class => "btn")
- else
  %li= link_to "Select a group", groups_path
