- if @group && !@group.new_record?
  %li#group_id.dropdown.black-dropdown
    = link_to @group, :class => "group dropdown-toggle", :id => "group-link" do
      = @group.name 
      %b.caret
    %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
      - Group.all.each do |group|
        - if group != @group
          %li{:role => "presentation"}
            = link_to group.name, group
  // Search section
  - if user_signed_in?
    %li.dropdown.black-dropdown
      = link_to [:new, @group, :search] do
        Search
        %b.caret
      %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
        %li= link_to 'Advanced Search', [:new, @group, :search]
        %li= link_to 'History', [@group, :searches]
  - else
    %li= link_to 'Search', [:new, @group, :search]
  // Language section
  - if @group.has_depth?
    %li.dropdown.black-dropdown
      = link_to group_lings_depth_path(@group, Depth::PARENT) do
        =@group.ling0_name.pluralize
        %b.caret
      %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
        %li= link_to @group.ling0_name.pluralize, group_lings_depth_path(@group, Depth::PARENT)
        %li= link_to @group.ling1_name.pluralize, group_lings_depth_path(@group, Depth::CHILD)
  - else
    %li= link_to @group.ling0_name.pluralize, group_lings_depth_path(@group, Depth::PARENT)
  // Property section
  %li.dropdown.black-dropdown
    = link_to [@group, :properties] do
      = @group.property_name.pluralize
      %b.caret
    %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
      // Category section
      %li
        = link_to(@group.category_name.pluralize, [@group, :categories])
  // Members section
  %li.dropdown.black-dropdown
    = link_to group_contributors_path(@group) do
      Contributors
      %b.caret
    %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
      %li= link_to "All Members", [@group, :memberships]
- elsif @groups
  %li.dropdown.black-dropdown
    = link_to groups_path, :style => "color: white" do
      = icon 'bars', 'Pick a Dataset'
      %b.caret
    %ul.dropdown-menu.medium-height{"aria-labelledby" => "dLabel", :role => "menu"}
      - @groups.each do |group|
        %li
          = link_to group.name, group
