<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
    <%= link_to "(Sign out)", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>

  <%= render :partial => 'layouts/admin_bar' if current_user && current_user.admin? %>
  <%= render :partial => 'layouts/group_admin_bar' if current_user && @group && current_user.administrated_groups.include?(@group) %>

  <% if @group && !@group.new_record? %>
    <%= link_to current_group.name, current_group %>
    <%= link_to 'Search', [:new, current_group, :search] %>
    <%= link_to 'History', [current_group, :searches] if user_signed_in? %>
    <%= link_to current_group.ling0_name, group_lings_depth_path(current_group, Depth::PARENT) %>
    <% if @group.has_depth? %>
      <%= link_to current_group.ling1_name, group_lings_depth_path(current_group, Depth::CHILD) %>
    <% end %>
    <%= link_to current_group.property_name, [current_group, :properties] %>
    <%= link_to current_group.category_name, [current_group, :categories] %>
    <%= link_to current_group.lings_property_name, [current_group, :lings_properties] %>
    <%= link_to current_group.example_name, [current_group, :examples] %>
    <%= link_to current_group.examples_lings_property_name, [current_group, :examples_lings_properties] %>
    <%= link_to "Members", [current_group, :memberships] %>
  <% elsif @groups %>
     <%= form_tag({:controller => "groups", :action => "index"}, :method => "get") do %>
      <%= collection_select("", :id, @groups, :id, :name, {:prompt => "Select a Group"}, { :name => :group_id, :id => "group_id" } ) %>
      <%= submit_tag("Go") %>
     <% end %>
  <% else %>
    <%= link_to "Select a group", groups_path %>
  <% end %>

</div>
