<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= link_to_google_web_font("Quattrocento Sans") %>
    <%= stylesheet_link_tag 'reset', 'framework', 'application' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= body_classes %>">
    <%= render :partial => 'layouts/header' %>

    <div id="main" class="container">
      <p class="notice"><%= notice %></p>
      <p class="notice"><%= alert %></p>
      <%= yield %>
    </div>

    <div id="footer" class="container">
      <p>&copy; 2011 terraling.com. 10 Washington Place, New York, NY 10003 . <a href="mailto:support@terraling.com">support AT terraling.com</a>. All Rights Reserved</p>
    </div>

  </body>
</html>
