<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'reset', 'framework', 'application', 'jquery-ui', 'gmaps4rails' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'style' %>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body class="<%= body_classes %>">
    <%= render :partial => 'layouts/header' %>

    <div id="main" class="container">
      <div id="messages">
        <% unless alert.blank? %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <% unless notice.blank? %>
          <p class="notice"><%= notice %></p>
      <% end %>
      </div>
      <%= yield %>
    </div>

    <div id="footer" class="container">
      <%= yield :scripts %>
      <p>&copy; 2011 terraling.com. 10 Washington Place, New York, NY 10003 . <a href="mailto:support@terraling.com">support AT terraling.com</a>. All Rights Reserved</p>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38340701-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
