!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    // Make the site mobile friendly
    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1"}
    %title= page_title
    = stylesheet_link_tag 'application'
    // Cannot move this down: jQuery is required by some plugins in the middle of the page
    = javascript_include_tag 'jquery.min'
    = csrf_meta_tag
    = yield :head
  %body{:class => body_classes, :data => {:controller => params[:controller].camelize, :action => params[:action], :group => ((@current_group || @group).present? ? (@current_group || @group).id : nil) }}
    = render :partial => 'layouts/header'
    #main.container
      = render :partial => 'layouts/messages'
      = yield
    #footer
      %p
        \&copy; 2013 terraling.com, Version: #{Version::VERSION}
        %br/
        10 Washington Place, New York, NY 10003 .
        = succeed "." do
          %a{:href => "mailto:support@terraling.com"}
            %span support
            =icon 'at'
            %span terraling.com
        All Rights Reserved
    = javascript_include_tag 'application'
    = yield :scripts
