!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title= page_title
    = javascript_include_tag 'modernizr'
    / 'reset', 'framework', 'application', 'jquery-ui', 'gmaps4rails', 'bootstrap.min', 'bootstrap-responsive.min'
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin-ext,latin", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield :head
  %body{:class => body_classes}
    = render :partial => 'layouts/header'
    #main.container
      #messages
        - unless alert.blank?
          .alert.alert-danger
            = alert
        - unless notice.blank?
          .alert.alert-success
            = notice
      = yield
    #footer.container
      = yield :scripts
      %p
        \&copy; 2013 terraling.com, Version: #{Version::VERSION}
        %br/
        10 Washington Place, New York, NY 10003 .
        = succeed "." do
          %a{:href => "mailto:support@terraling.com"} support AT terraling.com
        All Rights Reserved
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38340701-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
